#wp-admin-bar-root-default{
    li {
        .ab-submenu{
            li{
                display: inline-block;
            }
        }
        &#wp-admin-bar-wp-logo-custom{
            .adminify-admin-bar-menu{
                .ab-icon{
                    margin-right: 0 !important;
                    top: 2px !important;
                }
            }
        }
        a.ab-item{
            &:before{
                top: 0 !important;
            }
            > .adminify-admin-bar-menu{
                .ab-icon{
                    &[aria-hidden="true"] {
                        display: none !important;
                    }
                }
            }
        }
    }
}
#wp-admin-bar-top-secondary{
    li {
        .ab-submenu{
            li{
                display: inline-block;
                margin-bottom: 0 !important;
            }
        }
    }
}