@import "variables", "mixins", "fonts";

.no-js .wp-adminify-topbar-loader {
    display: none;
}
.js .wp-adminify-topbar-loader {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 64px;
    width: 100%;
    z-index: 99999;
    &[style="display: none;"] + .adminify-top_bar {
        opacity: 1 !important;
    }
}

@media (min-width: 1536px) {
    .js .wp-adminify-topbar-loader {
        min-height: 80px;
    }
}

.wp-adminify {
    .adminify-top_bar {
        position: absolute;
        left: 0;
        right: 0;
        .wp-ui-notification{
            background-color: var(--adminify-notif-bg-color);
        }
        nav.adminify-top-navbar {
            background-color: $adminify-admin-bar-bg;
            display: flex;
            align-items: center;
            min-height: inherit;
            padding: 8px 0;
            z-index: 9999;
            .navbar-brand {
                display: flex;
                align-items: center;
                padding: 0 1rem;
                width: 15.25rem;
                .navbar-item {
                    transition: none;
                    img {
                        // max-height: inherit;
                        max-width: 150px;
                    }
                    .wp-adminify-site-name {
                        color: $blackcolor;
                        @include font14_700;
                        line-height: $lineheight20;
                        margin-left: 12px;
                    }
                    .logo-dark {
                        display: none;
                    }
                }
                .navbar-burger {
                    color: var(--adminify-admin-bar-icon);
                    display: block;
                    height: auto;
                    width: auto;
                    padding: 1rem 0 1rem 1rem;
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
            .adminify-admin-wrapper{
            width: 100%;
            display: flex;
            }
            .navbar-start,
            .navbar-end {
                align-items: center;
                padding: 0 1rem;
            }
            .navbar-menu {
                button {
                    background-color: transparent;
                    border: 0;
                    box-shadow: none;
                    line-height: 1;
                    &:hover {
                        background-color: transparent;
                    }
                }
                .dropdown {
                    align-items: center;
                    height: 4.25rem;
                }
                .topbar-icon {
                    margin-top: -2px;
                }
                .dropdown-menu {
                    top: calc(100% - 3px);
                    .dropdown-item {
                        cursor: pointer;
                        width: auto;
                    }
                }
                .wp-adminify-user-site-list {
                    button {
                        color: $blackcolor;
                        @include font14_700;
                        line-height: $lineheight20;
                        padding: 0;
                    }
                }
                .navbar-start{
                    display: none;
                }
            }
            .adminify-legacy-admin{
                width: 100%;
                .wp-adminify-top-header--search--form {
                    flex-basis: 24%;
                    justify-content: center;
                    .top-header--search--form {
                        margin: -3px 0 0 0 !important;
                        position: relative !important;
                        .adminify-search-expand {
                            border-top-left-radius: 6px !important;
                            border-bottom-left-radius: 6px !important;
                            color: $placeholder !important;
                            font-size: $fontsize + 2px !important;
                            height: 40px !important;
                            width: 40px !important;
                            line-height: 40px !important;
                            left: 0;
                            top: 0;
                            position: absolute !important;
                            text-align: center;
                            i {
                                color: var(--adminify-admin-bar-input-text) !important;
                                line-height: 40px !important;
                                font-size: 16px !important;
                            }
                        }
                        input {
                            width: 100% !important;
                            border-radius: 6px !important;
                            height: 40px !important;
                            text-indent: 40px;
                            &::placeholder{
                                color: var(--adminify-admin-bar-input-text) !important;
                            }
                        }
                    }
                    .top-header-search-results {
                        top: 54px;
                        left: 50%;
                        width: 60vw !important;
                        max-height: 74vh;
                        overflow-x: hidden;
                        overflow-y: scroll;
                        padding: 26px !important;
                        position: absolute !important;
                        transform: translateX(-50%) !important;
                        &::-webkit-scrollbar {
                            width: 10px;
                        }
                        &::-webkit-scrollbar-track {
                            box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
                        }
                        &::-webkit-scrollbar-thumb {
                            background-color: $blackcolor;
                        }
                        p {
                            color: $blackcolor;
                            margin-top: 0;
                            .count {
                                font-family: "no-parens", sans-serif !important;
                            }
                            span {
                                &:before {
                                    content: "(";
                                }
                                &:after {
                                    content: ")";
                                }
                            }
                        }
                        table {
                            width: 100%;
                            th,
                            tr,
                            td {
                                vertical-align: middle;
                            }
                            thead {
                                th {
                                    color: $titlecolor;
                                    font-size: 14px !important;
                                    font-weight: 600 !important;
                                    line-height: $lineheight20 !important;
                                    padding: 10px 0 !important;
                                }
                            }
                            tbody {
                                td {
                                    border-top: 1px solid $whitegray;
                                    color: $blackcolor;
                                    font-size: 14px !important;
                                    font-weight: 400 !important;
                                    line-height: $lineheight20 !important;
                                    padding: 20px 0 18px !important;
                                    a {
                                        color: $primarycolor;
                                        font-weight: $weight600 !important;
                                    }
                                    .type {
                                        background-color: $primarycolor;
                                        border: 1px solid $primarycolor;
                                        border-radius: $radius6p !important;
                                        color: $whitecolor;
                                        display: inline-block;
                                        font-size: $fontsize - 2px !important;
                                        font-weight: $weight600 !important;
                                        padding: 5px 10px !important;
                                        text-transform: uppercase !important;
                                    }
                                    span {
                                        font-size: $fontsize - 1px;
                                        &.table-title {
                                            font-size: $fontsize;
                                        }
                                        &.date {
                                            display: block;
                                            min-width: 100px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &.open-result {
                        .top-header-search-results {
                            opacity: 1;
                            z-index: 1;
                        }
                    }
                }
                #wpadminbar{
                    top: 8px;
                }
                .ab-item {
                    input[type="radio"]{
                        position: relative !important;
                        &:checked:before{
                            height: 10px;
                            width: 10px;
                        }
                    }
                }
                input[type="checkbox"]{
                    border: 1px solid $blackplaceholder;
                }
            }
            &.is-fixed-bottom {
                .navbar-menu {
                    .dropdown-menu {
                        top: inherit;
                        bottom: 100%;
                        .dropdown-content {
                            box-shadow: $grayshadow;
                        }
                    }
                    .wp-adminify-top-header--search--form
                        .top-header-search-results {
                        top: inherit;
                        bottom: 54px;
                    }
                }
            }
            .topbar-icon {
                float: left;
                height: 14px;
                width: 14px;
                margin: 0 8px 0 0;
            }
            .wp-admnify--mode--switcher {
                border-right: 1px solid $whitegray;
                .admnify-switcher {
                    .slider {
                        &:before {
                            background: url(../images/header/sun.svg) center
                                no-repeat $whitecolor;
                        }
                    }
                    input[type="checkbox"]:checked + .slider {
                        background-color: $blackplaceholder;
                        &:before {
                            background: url(../images/header/moon.svg) center
                                no-repeat $blackcolor;
                        }
                    }
                }
            }
            .field.is-grouped {
                align-items: center;
            }
            .navbar-end {
                i {
                    color: var(--adminify-admin-bar-icon);
                }

                svg,
                svg path {
                    fill: var(--adminify-admin-bar-icon);
                }
                button {
                    padding: 0;
                }
                .wp-adminify--top--comment {
                    position: relative;
                    .topbar-icon {
                        margin: 0 5px 0 0;
                    }
                    .comment-counter {
                        background-color: $redlight;
                        color: $whitecolor;
                        display: inline-block;
                        font-size: $fontsize - 4px;
                        font-weight: $weight600;
                        line-height: $lineheight16 - 4px;
                        height: 11px;
                        width: 11px;
                        top: -2px;
                        position: relative;
                    }
                }
                .wp-adminify--preview {
                    button {
                        .topbar-icon {
                            margin: 4px 0 0;
                        }
                    }
                }
                .wp-adminify--user--account {
                    position: relative;
                    button {
                        @include displaycenter;
                    }
                    .user-status {
                        background-color: $fast;
                        border: 2px solid $whitecolor;
                        height: 10px;
                        width: 10px;
                        top: 0;
                        right: 0;
                        position: absolute;
                    }
                }
            }
        }
    }
    &.position-bottom {
        .adminify-top_bar {
            box-shadow: $grayshadow;
            bottom: 0;
            display: block;
            left: 0;
            position: fixed;
            width: 100%;
            z-index: 99999;
            nav.adminify-top-navbar
                .navbar-menu
                .wp-adminify-top-header--search--form
                .top-header-search-results {
                top: inherit;
                bottom: 100%;
            }
        }
        #wpadminbar .menupop .ab-sub-wrapper,
        #wpadminbar .shortlink-input {
            top: inherit;
            bottom: calc(100% + 15px);
        }
    }

    .wp-adminify--user--wrapper {
        background-color: $panelbg;
        top: 0;
        bottom: 0;
        right: 0;
        width: 390px;
        height: 100vh;
        overflow-y: auto;
        position: fixed;
        z-index: 9999;
        transition: all 0.3s cubic-bezier(0.6, 0, 0.3, 1);
        transform: translate3d(390px, 0, 0);
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
        &.active {
            transform: translate3d(0, 0, 0);
        }

        button {
            background-color: transparent;
            border: 0;
            box-shadow: none;
            padding: 0;
        }
        .user-wrapper-close {
            top: 16px;
            right: 16px;
            position: absolute;
        }
        .adminify-meta {
            color: $whitecolor;
        }
        .user-wrapper-top {
            align-items: center;
            padding: 2.0625rem;
            figure {
                margin: 0 1.125rem 0 0;
                img {
                    height: 81px;
                    width: 81px;
                }
            }
            .name {
                color: $whitecolor;
                font-size: $fontsize + 4px;
                font-weight: $weight700;
                line-height: $lineheight20;
                margin: 0 0 5px;
            }
            a {
                color: $whitecolor;
                @include font14_400;
                line-height: $lineheight20;
            }
            .logout.button {
                background-color: $slow;
                border: 0;
                border-radius: $radius6p - 2px;
                color: $whitecolor;
                font-size: $fontsize;
                height: auto;
                line-height: $lineheight20 + 2px;
                margin-top: 7px;
                min-height: inherit;
                padding: 0 0.5rem;
            }
        }
        .user-wrapper-content {
            .panel-insider {
                border-top: 1px solid $lightwhite;
                margin: 0;
                padding: 1rem 2.0625rem;
                .title {
                    border: 0;
                    color: $blackborder;
                    display: inline-block;
                    font-size: $fontsize + 2px;
                    font-weight: $weight700;
                    line-height: $lineheight20 + 4px;
                    margin: 0 0 1rem;
                    padding: 0;
                }
                ul {
                    border: 0;
                    margin: 0;
                }
                li {
                    color: $whitecolor;
                    display: block;
                    @include font14_600;
                    line-height: $lineheight20 + 6px;
                    margin-bottom: 0;
                    padding: 3px 0;
                }
                a {
                    color: $whitecolor;
                    display: inline-block;
                    margin: 0;
                    padding: 0;
                    width: 100%;
                    span:not(.count, .slider) {
                        float: left;
                        margin: 6px 7px 0 0;
                        width: 20px;
                    }
                    .count {
                        background-color: $redlight;
                        color: $whitecolor;
                        font-size: $fontsize - 4px;
                        float: right;
                        line-height: $lineheight16;
                        height: 14px;
                        width: 14px;
                        margin-top: 3px;
                        padding: 0;
                        text-align: center;
                    }
                }
                .user-panel-icon {
                    float: left;
                    margin: 4px 10px 0 0;
                    min-width: 15px;
                }
                .admnify-switcher {
                    margin-top: 3px;
                    .slider {
                        background-color: $placeholdersolid;
                        &:before {
                            background: $whitecolor;
                        }
                    }
                    input[type="checkbox"]:checked + .slider {
                        background-color: $primarycolor;
                    }
                }
            }
        }

        .user-notification-area {
            border-top: 1px solid $lightwhite;
            padding: 1.5rem 2.0625rem 0;
            h4 {
                color: $whitecolor;
                font-size: $fontsize + 2px;
                font-weight: $weight600;
                line-height: $lineheight20;
                margin: 0 0 1rem;
            }
            ul {
                li {
                    a {
                        color: $whitecolor;
                        @include font14_600;
                        line-height: $lineheight20;
                        .count {
                            background-color: $redlight;
                            border-radius: 50%;
                            color: $whitecolor;
                            font-size: $fontsize - 4px;
                            float: right;
                            line-height: $lineheight16 - 2px;
                            height: 14px;
                            width: 15px;
                            margin-top: 3px;
                            padding: 0;
                        }
                    }
                }
            }
        }
    }

    #wp-admin-bar-menu-toggle,
    #wp-admin-bar-my-account,
    #wp-admin-bar-site-name,
    #wp-admin-bar-updates,
    #wp-admin-bar-wp-logo,
    #wp-admin-bar-comments {
        display: none !important;
    }
    #wpadminbar {
        color: #999;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        margin-bottom: 0;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        width: auto;
        background: none;
        min-width: 0;
        margin-left: 26px;
        svg, .svg {
            filter: brightness(0.5);
        }
        #wp-toolbar{
            justify-content: space-between;
        }
        #wp-admin-bar-top-secondary,
        #wp-admin-bar-root-default {
            // flex-basis: 38%;
            justify-content: left;
            display: flex;
            // flex-direction: row-reverse;

            li {
                margin-right: 10px;
                background-color: transparent;
                z-index: 1;
                > .ab-item {
                    background: transparent;
                    color: var(--adminify-admin-bar-icon);
                    height: auto;
                    font-weight: $weight600;
                    height: 36px;
                    line-height: $lineheight20 + $lineheight16;
                    padding: 0;
                    position: relative;
                    &:hover {
                        color: $primarycolor;
                        .ab-icon,
                        .ab-icon:before,
                        .ab-label {
                            color: $primarycolor;
                        }
                    }
                    .ab-icon {
                        color: var(--adminify-admin-bar-icon);
                        float: left;
                        margin: 5px 0 0;
                        margin-right: 0;
                        padding: 0;
                        &:before {
                            margin-right: 4px;
                        }
                    }
                    // .ab-icon,
                    .ab-icon:before {
                        color: var(--adminify-admin-bar-icon);
                        height: auto !important;
                        width: auto !important;
                    }
                    .ab-label {
                        color: var(--adminify-admin-bar-icon);
                        display: inline-block;
                        font-size: 14px;
                        font-weight: 600;
                        height: 36px;
                        line-height: $lineheight20 + $lineheight16;
                    }
                }
                &:hover {
                    background-color: transparent;
                    z-index: 99999;
                }
                > .ab-sub-wrapper{
                    .ab-submenu{
                        li{
                            // margin-right: 10px !important;
                            display: inline-block;
                            > input[type="checkbox"]{
                                top: 10px;
                            }
                            .ab-item {
                                padding-right: 30px !important;
                                .ab-icon {
                                    margin: 4px 0 0 !important;
                                    line-height: 26px;
                                    font-size: 16px;
                                }
                                input[type="checkbox"]{
                                    margin-bottom: 3px;
                                }
                                .dashicons-editor-help{
                                    margin-top: -2px !important;
                                    float:right;
                                }
                                label + select{
                                    margin-right: 20px !important;
                                }
                                .wp-admin-bar-arrow:before {
                                    top: 5px;
                                }
                            }
                        }
                    }
                }
                // &.menupop {
                //     > .ab-item {
                //         .ab-icon:before,
                //         .ab-label {
                //             color: $whitecolor;
                //             height: auto;
                //             line-height: $lineheight20 + $lineheight16;
                //         }
                //     }
                // }
            }

            .menupop .ab-sub-wrapper,
            .shortlink-input {
                background-color: $whitecolor;
                border-radius: $radius6p;
                box-shadow: $grayshadow;
                top: 100%;
                padding: 5px 0;

                .ab-submenu {
                    background: $whitecolor;
                }

                .blavatar {
                    display: none;
                }

                ul {
                    padding: 0;
                    li {
                        margin: 0;
                        width: 100%;
                        > .ab-item {
                            background-color: $whitecolor;
                            border-radius: 0;
                            color: $placeholder;
                            @include font14_400;
                            height: auto;
                            line-height: $lineheight20 + $lineheight16;
                            margin: 0;
                            padding: 0 1rem;
                            &:hover {
                                background-color: $graycolor;
                                color: $primarycolor;
                            }
                        }
                    }
                }

                .ab-sub-wrapper {
                    top: 100%;
                }
            }

            #wp-admin-bar-new-content {
                > .ab-item {
                    background: $primarycolor;
                    border-radius: $radius6p;
                    @include font14_600;
                    color: #fff;
                    height: auto;
                    width: auto;
                    line-height: $lineheight20 + $lineheight16;
                    padding: 0 10px 0 30px;
                    .ab-icon {
                        height: 20px !important;
                        width: 20px !important;
                        top: 50%;
                        left: 10px;
                        margin-top: -10px;
                        padding: 0 !important;
                        position: absolute;
                        text-align: left;
                        &:before {
                            content: "\f543";
                            color: $whitecolor;
                            font-family: dashicons;
                            font-size: $fontsize + 1px;
                            top: 50%;
                            position: absolute;
                            transform: translateY(-50%);
                        }
                    }
                    .ab-label {
                        color: $whitecolor;
                    }
                }
                &:hover {
                    > .ab-item {
                        background: $primarycolor;
                        color: $whitecolor;
                        .ab-icon {
                            color: $whitecolor;
                        }
                        .ab-label {
                            color: $whitecolor;
                        }
                    }
                }
            }

            #wp-admin-bar-new-content-custom{
                > .ab-item {
                    background: $primarycolor;
                    border-radius: $radius6p;
                    @include font14_600;
                    color: #fff;
                    height: auto;
                    width: auto;
                    line-height: $lineheight20 + $lineheight16;
                    padding: 0 10px 0 30px;
                    .ab-icon {
                        height: 20px !important;
                        width: 20px !important;
                        top: 50%;
                        left: 10px;
                        margin-top: -10px;
                        padding: 0 !important;
                        position: absolute;
                        text-align: left;
                        &:before {
                            color: $whitecolor;
                            // font-family: dashicons;
                            font-size: $fontsize + 1px;
                            top: 50%;
                            position: absolute;
                            transform: translateY(-50%);
                        }
                    }
                    .ab-label {
                        color: $whitecolor;
                    }
                }
                &:hover {
                    > .ab-item {
                        background: $primarycolor;
                        color: $whitecolor;
                        .ab-icon {
                            color: $whitecolor;
                        }
                        .ab-label {
                            color: $whitecolor;
                        }
                    }
                }
            }

            #wp-admin-bar-my-sites {
                > .ab-item {
                    &:before {
                        content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNSAxNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPHBhdGggZD0iTTEzLjUgMTMuNzVIMS41QzEuMDg1NzkgMTMuNzUgMC43NSAxMy40MTQyIDAuNzUgMTNWNy41MjVDMC43NSA3LjMwODk0IDAuODQzMjQgNy4xMDMzOCAxLjAwNTc1IDYuOTYxTDIuMjUgNS44NzVWMUMyLjI1IDAuNTg1Nzg2IDIuNTg1NzkgMC4yNSAzIDAuMjVIMTMuNUMxMy45MTQyIDAuMjUgMTQuMjUgMC41ODU3ODYgMTQuMjUgMVYxM0MxNC4yNSAxMy40MTQyIDEzLjkxNDIgMTMuNzUgMTMuNSAxMy43NVpNNS4yNSAzLjQ5Njc1QzUuNDMxNTkgMy40OTY5NiA1LjYwNjk0IDMuNTYzMDUgNS43NDM1IDMuNjgyNzVMOS40OTM1IDYuOTY0QzkuNjU1NSA3LjEwNTU2IDkuNzQ4OTIgNy4zMDk4NyA5Ljc1IDcuNTI1VjEyLjI1SDEyLjc1VjEuNzVIMy43NVY0LjU2MjVMNC43NTU3NSAzLjY4MkM0Ljg5MjYxIDMuNTYyNCA1LjA2ODI1IDMuNDk2NTcgNS4yNSAzLjQ5Njc1Wk00LjUgMTBINlYxMi4yNUg4LjI1VjcuODY3NzVMNS4yNSA1LjI0Mjc1TDIuMjUgNy44Njc3NVYxMi4yNUg0LjVWMTBaIiBmaWxsPSIjNEU0QjY2IiAvPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDwvc3ZnPg==");
                        top: 0;
                        filter: grayscale(1) brightness($adminbar-icon-filter-brightness);
                    }
                }
                &:hover {
                    .ab-item {
                        background-color: $whitecolor;
                    }
                }
            }
            .qm-expensive {
                background: $slow;
                a.ab-item .ab-label {
                    color: var(--adminify-text-color) !important;
                }
            }
            #wp-admin-bar-query-monitor {
                > .ab-item {
                    .ab-label {
                        color: var(--adminify-admin-bar-icon);
                        font-weight: $weight600;
                        height: auto;
                    }
                }
                &.menupop.qm-error {
                    > .ab-item {
                        .ab-label {
                            color: $whitecolor;
                        }
                    }
                }
            }
            svg,
            .svg {
                filter: brightness(var(--adminify-admin-bar-icon-filter));
            }
        }
        #wp-admin-bar-top-secondary{
            justify-content: right !important;
            flex-direction: row-reverse;
            > li{
                margin-right: 0 !important;
                margin-left: 10px;
            
                > .ab-sub-wrapper{
                    .ab-submenu{
                        li{
                            .ab-item {
                                padding-right: 1rem !important;
                                padding-left: 30px !important;
                            }
                        }
                    }
                }
            }

        }

        .ab-top-menu > li.menupop.hover > .ab-item,
        &.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
        &.nojs .ab-top-menu > li.menupop:hover > .ab-item,
        &:not(.mobile) .ab-top-menu > li:hover > .ab-item,
        &:not(.mobile) .ab-top-menu > li > .ab-item:focus {
            background: transparent;
        }
    }
}
