@import "variables", "mixins", "fonts";

// WP Adminify Options Style

#wpbody-content {
    .qt-dfw {
        font-family: dashicons;
    }
    .adminify-container a[class*="-url"],
    .wp-heading-inline a[class*="-url"] {
        border-width: 1px;
        border-style: solid;
        border-radius: $radius6p - 3px;
        display: inline-flex;
        align-items: center;
        font-size: $fontsize - 2px;
        font-weight: $weight600;
        line-height: $lineheight20 - 2px;
        margin-left: 5px;
        padding: 0 7px;
        vertical-align: text-top;
        i {
            margin-right: 5px;
        }
        &:hover {
            color: $whitecolor;
            svg path {
                fill: $whitecolor;
            }
        }
    }
    // .wp-heading-inline {
    //     a {
    //         display: inline-block;
    //     }
    // }
    a.adminify-docs-url {
        border-color: $primarycolor;
        color: $primarycolor;
        &:hover {
            background-color: $primarycolor;
        }
    }
    a.adminify-video-url {
        border-color: $reddark;
        color: $reddark;
        &:hover {
            background-color: $reddark;
            color: $whitecolor;
        }
    }
    a.adminify-fbgroup-url {
        border-color: #3b5998;
        color: #3b5998;
        &:hover {
            background-color: #3b5998;
        }
    }
    a.adminify-support-url {
        border-color: $blackcolor;
        color: $blackcolor;
        &:hover {
            background-color: $blackcolor;
        }
    }
    .adminify-options.wp-adminify-settings {
        .adminify-reset-section {
            &:hover {
                background-color: $primarycolor;
                color: $whitecolor;
            }
        }
        .adminify-reset-all {
            background-color: $whitecolor;
            border-color: $reddark;
            color: $reddark;
            &:hover {
                background-color: $reddark;
                color: $whitecolor;
            }
        }
        .adminify-header {
            .adminify-header-inner {
                background-color: $whitecolor;
                border-bottom: 1px solid $whitegray;
                border-top-left-radius: $radius6p;
                border-top-right-radius: $radius6p;
                h1 {
                    color: $black;
                    display: flex;
                    align-items: flex-end;
                    font-size: $fontsize + 10px;
                    font-weight: $weight600;
                    line-height: 1;
                    .wp-adminify-settings-logo {
                        margin-right: 10px;
                        max-height: 35px;
                        max-width: 130px;
                        width: 100%;
                    }
                    small {
                        color: $blackcolor;
                        font-size: $fontsize - 4px;
                        font-weight: $weight600;
                        text-align: left;
                        text-transform: capitalize;
                        width: 100%;
                    }
                }
            }
            .adminify-header-right {
                .adminify-buttons {
                    input {
                        float: left;
                    }
                }
            }
        }
        .adminify-nav-normal {
            li {
                margin: 0;
                a {
                    background-color: $whitecolor;
                    border: 0;
                    color: $blackmuted;
                    @include font14_600;
                    line-height: $lineheight20 * 2 + 4px;
                    padding: 0 1rem;
                    position: relative;
                    transition: none;
                    &:before {
                        content: "";
                        background-color: transparent;
                        border-top-right-radius: $radius6p;
                        border-bottom-right-radius: $radius6p;
                        height: 22px;
                        width: 2px;
                        top: 50%;
                        left: 0;
                        margin-top: -11px;
                        position: absolute;
                    }
                    &.adminify-active,
                    &:hover {
                        background-color: $graycolor;
                        color: $primarycolor;
                        &:before {
                            background-color: $primarycolor;
                        }
                    }
                    i {
                        height: 20px;
                        width: 20px;
                        line-height: 20px;
                        vertical-align: baseline;
                    }
                }
                ul {
                    li {
                        a {
                            padding-left: 2.25rem;
                        }
                    }
                }
            }
        }
        .adminify-nav-background {
            background-color: transparent;
        }
        .adminify-content {
            border-width: 0 0 0 1px;
            border-style: solid;
            border-color: $whitegray;
        }
        .adminify-footer {
            background-color: $whitecolor;
            border-top: 1px solid $whitegray;
            border-bottom-left-radius: $radius6p;
            border-bottom-right-radius: $radius6p;
        }
        .adminify--switcher {
            background-color: $slow;
            border-radius: $radius6p;
            .adminify--off,
            .adminify--on {
                font-size: $fontsize - 2px;
                font-weight: $weight600;
            }
            .adminify--on {
                background-color: $fast;
            }
        }
        .adminify-field-subheading {
            background-color: $heading-bg-color;
            padding-top: 15px;
            padding-bottom: 14px;
        }
    }
    .wp-adminify-redirect-urls{
        .adminify-container {
            max-width: 70%;
            margin: 0 auto;
            .adminify-field.new-login-url{
                .adminify-fieldset{
                    .adminify-before-text,
                    input[type="text"],
                    .adminify-after-text{
                        display: inline-block;
                        margin-right: 5px;
                    }
                }
            }
            .adminify-header {
                padding: 0;
                .adminify-header-left{
                    display: none !important;
                }
            }
        }

    }
    .wp-adminify-dashboard-widgets {
        .adminify-container {
            max-width: 70%;
        }
        .adminify-content {
            background-color: transparent;
            .adminify-field-subheading {
                background-color: transparent;
                font-size: $fontsize + 4px;
                padding-top: 0;
            }
            .adminify-field {
                .adminify-cloneable-item {
                    border: 1px solid $lightgray;
                    border-radius: $radius6p;
                    .adminify-cloneable-title {
                        background-color: $whitegray;
                        border: 0;
                        color: $blackcolor;
                        display: inline-block;
                        font-size: $fontsize + 2px;
                        font-weight: $weight600;
                        line-height: $lineheight20;
                        padding: 10px 65px 10px 15px;
                        width: 100%;
                        &:hover {
                            border-color: $lightgray;
                        }
                        .ui-accordion-header-icon {
                            float: left;
                            margin-top: 4px;
                            text-align: left;
                        }
                    }
                    .adminify-cloneable-helper {
                        top: 9px;
                    }
                    &:last-child {
                        margin-bottom: 20px;
                    }
                }
                .adminify-field {
                    border-bottom: 1px solid $lightgray;
                    border-radius: 0;
                    box-shadow: none;
                    &.adminify-field-code_editor,
                    &.adminify-field-fieldset,
                    &.adminify-field-wp_editor,
                    &.adminify-field-textarea {
                        align-items: flex-start;
                    }
                    &:last-child {
                        border-bottom: 0;
                    }
                }
                .adminify-fieldset {
                    min-height: inherit;
                }
                select {
                    border: 1px solid $lightgray;
                }
                .adminify-field-button_set {
                    .adminify--button {
                        box-shadow: none;
                        font-weight: $weight600;
                        &.adminify--active,
                        &:hover {
                            background-color: $primarycolor;
                            border-color: $primarycolor;
                            color: $whitecolor;
                        }
                    }
                }
                .adminify-fieldset-content {
                    border: 1px solid $lightgray;
                }
            }
            .chosen-choices {
                background: $whitegray;
                padding: 4.5px 0;
            }
            .chosen-container-active .chosen-choices {
                box-shadow: none;
            }
        }
        .wp-editor-tools {
            border-radius: 0;
            .wp-editor-tabs {
                button {
                    background-color: $lightgray;
                    border: 1px solid $lightgray;
                    color: $blackcolor;
                    font-size: $fontsize - 1px;
                    line-height: $lineheight20;
                    margin: 0 0 0 5px;
                    padding: 5px 10px;
                }
            }
            .mce-toolbar-grp {
                background-color: $whitegray;
            }
            .wp-editor-container {
                border: 1px solid $lightgray;
                .mce-container,
                .mce-container *,
                .mce-widget,
                .mce-widget *,
                .mce-reset {
                    box-shadow: none;
                    color: $blackcolor;
                }
            }
        }
    }
    .adminify-options {
        .adminify-header-inner {
            background-color: transparent !important;
            border: 0;
        }
        .adminify-field-tabbed {
            .adminify-tabbed-nav {
                a {
                    background-color: transparent;
                    border: 1px solid transparent;
                    color: $blackcolor;
                    @include font14_600;
                    line-height: $lineheight20;
                    margin: 0 0 -1px;
                    padding: 10px 15px;
                    &.adminify-tabbed-active {
                        background-color: $primarycolor;
                        border-color: $primarycolor;
                        border-top-left-radius: $radius6p;
                        border-top-right-radius: $radius6p;
                        color: $whitecolor;
                    }
                }
            }
        }
        .adminify-tabbed-contents {
            .adminify-tabbed-content {
                border: 1px solid $whitegray;
                box-shadow: none;
            }
        }
        .adminify-field-slider {
            .ui-slider-handle {
                margin-left: 0;
            }
            .adminify--input {
                .adminify--unit {
                    border: 0;
                    font-size: $fontsize;
                    margin-left: 10px;
                    min-width: 30px;
                    text-align: center;
                }
            }
        }
    }
    .adminify-theme-dark .adminify-footer {
        background-color: transparent;
    }

    .adminify-section {
        .adminify-title {
            h4 {
                color: $titlecolor;
                @include font14_600;
            }
        }
        .adminify-field-subheading {
            display: flex;
            align-items: center;
        }
        .adminify-section-description {
            color: $blackcolor;
            @include font14_400;
            a {
                color: $primarycolor;
            }
        }
        .adminify--switcher {
            float: none;
        }
        .adminify-subtitle-text,
        .adminify--label,
        label {
            color: $blackcolor;
            font-size: $fontsize - 1px;
            margin-top: 0.5rem;
            margin-left: 0;
            word-break: break-word;
            a {
                color: $primarycolor;
            }
        }
        .adminify-desc-text {
            color: $blackcolor;
        }
        .adminify-field + .adminify-field {
            border-top: 1px solid $whitegray;
        }
        .adminify-image-preview {
            min-height: inherit;
            a {
                color: $whitecolor;
            }
        }
        .adminify-field-notice {
            background: inherit;
            .adminify-title {
                margin-top: 14px;
            }
            .adminify-title + .adminify-fieldset .adminify-notice {
                margin: 0;
            }
            .adminify-notice.adminify-notice-warning {
                background: inherit;
                border: 0;
                box-shadow: none;
                display: inline-block;
                padding: 0;
                p {
                    display: inline-block;
                }
            }
            .adminify-notice {
                border: 0;
                margin-right: 30px;
                margin-left: calc(20% + 20px);
                padding: 0;
            }
        }
        .adminify--button-group {
            .adminify--button {
                background-color: $whitecolor;
                border: 1px solid $grayborder;
                box-shadow: none;
                color: $titlecolor;
                @include font14_600;
                line-height: $lineheight20 + $lineheight16;
                padding: 0 1.5rem;
                &.adminify--active {
                    background-color: $primarycolor;
                    border-color: $primarycolor;
                    color: $whitecolor;
                }
                &:first-child {
                    border-right: 0;
                    border-top-left-radius: $radius6p;
                    border-bottom-left-radius: $radius6p;
                }
                &:last-child {
                    border-left: 0;
                    border-top-right-radius: $radius6p;
                    border-bottom-right-radius: $radius6p;
                }
                &:not(:first-child) {
                    margin-left: 0;
                }
            }
        }
        .button {
            border-radius: $radius6p;
            @include font14_600;
            &.adminify--edit,
            &.adminify-icon-edit {
                background-color: $fast;
                border: 1px solid $fast;
                &:hover {
                    background-color: $whitecolor;
                    color: $fast;
                }
            }
            &.adminify--reset,
            &.adminify--remove,
            &.adminify-icon-remove,
            &.adminify--warning,
            &.adminify-icon-warning {
                background-color: $slow;
                border: 1px solid $slow;
                &:hover {
                    background-color: $whitecolor;
                    color: $slow;
                }
            }
            &.button-primary {
                &:focus {
                    background-color: $primarycolor;
                    color: $whitecolor;
                }
            }
        }
        .adminify-fieldset {
            font-size: $fontsize;
            select {
                border: 1px solid $grayborder;
                color: $titlecolor;
            }
            .chosen-single.chosen-default,
            .search-choice {
                background: $whitecolor;
                border: 1px solid $grayborder;
                border-radius: $radius6p;
                box-shadow: none;
                color: $titlecolor;
                @include font14_400;
                height: auto;
                line-height: $lineheight20 + $lineheight16 - 2px;
                padding-top: 0;
                padding-bottom: 0;
            }
            .chosen-single b:before,
            .search-choice-close:before {
                color: $blackcolor;
                padding-top: 0;
            }
            .chosen-choices {
                background-image: none;
                border: 0;
                border-radius: $radius6p;
                box-shadow: none;
                padding: 0;
                .search-field {
                    width: 100%;
                }
                .chosen-search-input {
                    background-color: $whitegray !important;
                    border: 1px solid $whitegray !important;
                    height: auto;
                    min-height: 36px;
                    width: 100% !important;
                }
            }
            .chosen-drop {
                li:not(.result-selected) {
                    @include font14_400;
                    line-height: $lineheight20;
                    &:hover,
                    &.highlighted {
                        background: $primarycolor;
                        color: $whitecolor;
                    }
                    .adminify--text {
                        color: $titlecolor;
                        @include font14_400;
                    }
                }
            }
            ul:not(.chosen-results) {
                max-height: inherit;
            }

            .adminify--inputs {
                .adminify--input {
                    .adminify--label.adminify--icon {
                        background-color: $primarycolor;
                        border: 0;
                        border-radius: $radius6p;
                        color: $whitecolor;
                        margin: 0 5px 0 0;
                        padding: 0 10px;
                    }
                }
            }
            .wp-color-result {
                background-color: $lightgray;
                border: 1px solid $primarycolor;
                border-radius: $radius6p;
                padding: 0;
                height: auto;
                margin-right: 0;
                .wp-color-result-text {
                    background-color: $whitecolor;
                    border: 0;
                    border-left: 1px solid $primarycolor;
                    border-top-right-radius: $radius6p - 1px;
                    border-bottom-right-radius: $radius6p - 1px;
                    color: $primarycolor;
                    line-height: $lineheight20 + $lineheight16 - 2px;
                    margin-left: 2.375rem;
                    padding: 0 13px;
                }
            }
            .adminify-field-color {
                .adminify--title {
                    color: $titlecolor;
                }
            }
        }
        .adminify-fieldset-content {
            border: 1px solid $whitegray;
            border-radius: $radius6p;
            box-shadow: none;
        }
        .adminify-field-background {
            .adminify-field {
                margin: 0 10px 10px 0;
            }
            .adminify-image-preview {
                height: auto;
                .adminify--remove {
                    color: $whitecolor;
                    opacity: 1;
                }
            }
        }
        .adminify-data-wrapper {
            .adminify-cloneable-item {
                margin-bottom: 10px;
                .adminify-cloneable-helper {
                    color: $blackcolor;
                    font-size: $fontsize - 2px;
                    top: 13px;
                    .adminify-cloneable-sort {
                        color: $primarycolor;
                    }
                    .adminify-cloneable-clone {
                        color: $fast;
                    }
                    .adminify-cloneable-remove {
                        color: $slow;
                    }
                }
                .adminify-cloneable-title {
                    background-color: $whitecolor;
                    border: 1px solid $grayborder;
                    border-radius: $radius6p;
                    box-shadow: $grayshadow;
                    color: $blackcolor;
                    display: inline-block;
                    @include font14_700;
                    line-height: $lineheight20;
                    min-height: 20px;
                    padding: 13px 4.725rem 13px 1rem;
                    width: 100%;
                    transition: none;
                    &.ui-state-active {
                        border-bottom-left-radius: 0;
                        border-bottom-right-radius: 0;
                        .adminify-cloneable-header-icon {
                            &:before {
                                content: "\e604";
                                font-family: "simple-line-icons";
                            }
                        }
                    }
                    .adminify-cloneable-header-icon {
                        font-size: $fontsize - 4px;
                        float: left;
                        margin: 5px 5px 0 -5px;
                        &:before {
                            content: "\e606";
                            font-family: "simple-line-icons";
                            transition: none;
                        }
                    }
                    .adminify-cloneable-placeholder {
                        background-color: transparent;
                    }
                }
                .adminify-cloneable-content {
                    border: 1px solid $whitegray;
                    border-top: 0;
                    border-bottom-left-radius: $radius6p;
                    border-bottom-right-radius: $radius6p;
                    box-shadow: none;
                    .adminify-fieldset {
                        input[data-depend-id] {
                            width: 100%;
                        }
                        .adminify-icon-preview {
                            i {
                                background-color: $fast;
                                border: 1px solid $fast;
                                border-radius: $radius6p;
                                box-shadow: none;
                                color: $whitecolor;
                                height: 34px;
                                width: 36px;
                                line-height: $lineheight20 + $lineheight16 - 2px;
                            }
                        }
                    }
                }
            }
        }

        .adminify-accordion-item {
            margin-bottom: 10px;
            .adminify-accordion-title {
                background-color: $whitecolor;
                border: 1px solid $grayborder;
                border-radius: $radius6p;
                box-shadow: none;
                color: $blackcolor;
                @include font14_700;
                line-height: $lineheight20;
                min-height: 20px;
                padding: 13px 1rem;
                transition: none;
            }
            .adminify-accordion-content {
                border-bottom-left-radius: $radius6p;
                border-bottom-right-radius: $radius6p;
                margin-top: -5px;
                padding-top: 5px;
            }
        }
        .adminify-wp-editor {
            .wp-switch-editor {
                background: #f6f7f7;
                border: 0;
                border-radius: 0;
                color: #50575e;
                line-height: $lineheight20 + 8px;
                padding: 0 10px;
            }
            .mce-btn {
                border: 1px solid $blackborder;
                button {
                    background-color: $whitegray !important;
                    border: 0;
                    border-radius: 0;
                    color: $titlecolor !important;
                    line-height: $lineheight20 + 4px;
                    padding: 0 6px;
                    i {
                        line-height: $lineheight20 + 4px;
                    }
                }
            }
            .wp-editor-container {
                .mce-container-body {
                    .mce-top-part::before {
                        display: none;
                    }
                    div.mce-toolbar-grp {
                        background-color: $whitegray;
                        color: $blackcolor;
                    }
                }
            }
            .mce-menu .mce-menu-item.mce-active.mce-menu-item-normal,
            .mce-menu .mce-menu-item.mce-active.mce-menu-item-preview,
            .mce-menu .mce-menu-item.mce-selected,
            .mce-menu .mce-menu-item:focus,
            .mce-menu .mce-menu-item:hover {
                background-color: $primarycolor;
            }
            .mce-edit-area {
                body {
                    background-color: $whitegray;
                }
            }
            .wp-editor-wrap {
                clear: both;
            }
            .wp-editor-area {
                border-top: 1px solid $whitecolor;
            }
        }
        .wp-picker-input-wrap {
            label {
                margin-top: 0;
                .wp-color-picker {
                    padding: 8px 5px;
                    width: 5.5rem;
                }
            }
            .wp-picker-clear {
                border-color: $slow;
                color: $slow;
            }
        }
    }
    .adminify-fieldset .chosen-single.chosen-default,
    .adminify-fieldset .search-choice,
    .adminify-fieldset .chosen-single {
        background: $whitecolor;
        border: 1px solid $grayborder;
        border-radius: $radius6p;
        box-shadow: none;
        color: $titlecolor;
        @include font14_400;
        height: auto;
        line-height: $lineheight20 + $lineheight16 - 2px;
        padding-top: 0;
        padding-bottom: 0;
    }
    .chosen-container-single .chosen-drop {
        margin-top: 2px;
    }

    // Checkbox / Radio
    .adminify-section[data-section-id="basic-fields/checkbox"],
    .adminify-section[data-section-id="basic-fields/radio"],
    .adminify-section[data-section-id="tweaks/head"],
    .adminify-section[data-section-id="tweaks/admin-footer"] {
        .adminify-title {
            h4 {
                margin-top: 0;
            }
        }
    }
    .adminify-section[data-section-id="others"] {
        .adminify-data-wrapper
            .adminify-cloneable-item
            .adminify-cloneable-content {
            margin-top: -6px;
        }
        .adminify-field + .adminify-field {
            border-top: 0;
        }
        .adminify-title {
            h4 {
                margin-top: 0;
            }
        }
    }
    .adminify-section[data-section-id="[custom_scripts]"] {
        .adminify-field + .adminify-field {
            background: transparent;
            border-top: 0;
        }
    }

    .adminify-repeater-helper {
        .adminify-repeater-sort {
            color: $primarycolor;
        }
        .adminify-repeater-clone {
            color: $fast;
        }
        .adminify-repeater-remove {
            color: $slow;
        }
    }
}

.adminify-modal-icon {
    .adminify-modal-close {
        color: $reddark;
    }
    .adminify-icon-search {
        @include selectone;
    }
    i:hover {
        background-color: $primarycolor;
        border-color: $primarycolor;
    }
}
&.modal-open {
    #wp-link-wrap {
        #link-modal-title {
            border-bottom: 1px solid $whitegray;
            color: $titlecolor;
        }
        #wp-link-close {
            color: $slow;
        }
        .howto,
        label span {
            color: $blackcolor;
            @include font14_600;
            line-height: $lineheight20;
        }
        .query-results {
            border: 1px solid $whitegray;
            position: inherit;
            .query-notice {
                border: 1px solid $whitegray;
            }
            .query-notice-default {
                border-left: 4px solid $average;
                box-shadow: none;
            }
        }
        .submitbox {
            border: 1px solid $whitegray;
            .button {
                color: $whitecolor;
                @include font14_600;
                line-height: $lineheight20 + $lineheight16;
                padding: 0 1rem;
                &:hover {
                    background-color: $whitecolor;
                }
            }
            #wp-link-cancel {
                .button {
                    background-color: $primarycolor;
                    border: 1px solid $primarycolor;
                    &:hover {
                        color: $primarycolor;
                    }
                }
            }
            #wp-link-update {
                .button {
                    background-color: $fast;
                    border: 1px solid $fast;
                    &:hover {
                        background-color: $whitecolor;
                        color: $fast;
                    }
                }
            }
        }
    }
}

.adminify-datepicker-wrapper {
    box-shadow: $grayshadow;
    .ui-datepicker-header {
        background-color: rgba($primarycolor, 0.9);
        .ui-corner-all {
            background-color: $primarycolor;
        }
    }
    .ui-state-default {
        &.ui-state-highlight.ui-state-hover,
        &:hover {
            background-color: $primarycolor;
            color: $whitecolor;
        }
    }
}

&.wp-adminify_page_adminify-custom-css-js {
    .adminify-container {
        max-width: 950px;
        margin: 0 auto;
    }
}

// Sidebar Generator styles

&.wp-adminify_page_adminify-sidebar-generator {
    #wpbody-content {
        .wp-adminify--popup-container {
            padding: 0;
            .wp-adminify--popup-container_inner {
                padding: 30px;
                .add_sidebar_popup,
                .edit_sidebar_popup {
                    position: relative;
                    .wp-adminify--popup-close {
                        color: $reddark;
                        opacity: 1;
                        top: -20px;
                        right: 0;
                        span,
                        i,
                        .dashicons {
                            color: $reddark;
                            &:before {
                                color: $reddark;
                                height: 20px;
                                width: 20px;
                            }
                        }
                        h3 {
                            color: $blackcolor;
                            font-size: $fontsize + 2px;
                        }
                    }
                    form {
                        .field {
                            align-items: flex-start;
                            justify-content: flex-start;
                            .field-label {
                                flex: inherit;
                                min-width: 5rem;
                                text-align: left;
                            }
                            .control {
                                margin: 0;
                                padding-left: 15px;
                                width: calc(100% - 115px);
                                input,
                                textarea {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
        .table-container {
            .wp-list-table.widefat {
                tr {
                    th {
                        padding: 15px 17px;
                        p,
                        strong {
                            color: $blackcolor;
                        }
                    }
                    td {
                        .button {
                            color: $whitecolor;
                            &.is-success {
                                background-color: $fast;
                                border: 1px solid $fast;
                                &:hover {
                                    background-color: $whitecolor;
                                    color: $fast;
                                }
                            }
                            &.is-danger {
                                background-color: $slow;
                                border: 1px solid $slow;
                                &:hover {
                                    background-color: $whitecolor;
                                    color: $slow;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// Wp Adminify Admin Columns

.wp-adminify--admin-columns--editor--container {
    max-width: 950px;
    margin: 0 auto;
}
#wpadminify-admin-columns .admin-column--message,
.wp-adminify--menu--editor--container #adminify-data-saved-message {
    background-color: #46b450;
    border-radius: 3px;
    color: #fff;
    padding: 8px 15px;
}
.wp-adminify--menu--editor--container #adminify-data-saved-message {
    border: 0;
    display: none;
    line-height: 16px;
    margin-bottom: 15px;
    width: auto;
}

#wpadminify-admin-columns {
    .admin-column--message {
        display: inline-block;
    }
    .tabs.is-centered {
        clear: both;
        .nav-tabs {
            border-bottom: 0;
        }
        .nav-link {
            background-color: $whitecolor;
            border: 1px solid $grayborder;
            border-radius: 0;
            box-shadow: none;
            color: $titlecolor;
            display: inline-block;
            @include font14_600;
            line-height: $lineheight20 + $lineheight16;
            padding: 0 1.5rem;
            &.active {
                background-color: $primarycolor;
                border-color: $primarycolor;
                color: $whitecolor;
            }
            i:before {
                line-height: 34px;
            }
        }
        li {
            &:first-child {
                .nav-link {
                    border-right: 0;
                    border-top-left-radius: $radius6p;
                    border-bottom-left-radius: $radius6p;
                }
            }
            &:last-child {
                .nav-link {
                    border-left: 0;
                    border-top-right-radius: $radius6p;
                    border-bottom-right-radius: $radius6p;
                }
            }
        }
    }
    .tabs.is-centered + .tab-content {
        padding: 1.875rem;
        position: relative;
        .wp-adminify-loader {
            height: 44px;
            width: 44px;
            top: 50%;
            left: 50%;
            margin: -22px 0 0 -22px;
            position: absolute;
            z-index: 9;
        }
        .columns {
            margin: 0;
        }
        .column {
            padding: 0;
        }
        .nav-tabs {
            border: 0;
            margin: 0;
            padding-right: 1.875rem;
            li {
                width: 100%;
            }
            .nav-link {
                align-items: center;
                justify-content: flex-start;
                border: 0;
                border-radius: $radius6p;
                color: $titlecolor;
                display: flex;
                @include font14_600;
                line-height: $lineheight20 + $lineheight16;
                padding: 0 1rem;
                &:hover,
                &.active {
                    background-color: $primarycolor;
                    border: 0;
                    color: $whitecolor;
                }
                .icon {
                    float: left;
                    margin-right: 5px;
                    i {
                        height: auto;
                    }
                }
                i:before {
                    line-height: 34px;
                    margin-right: 5px;
                }
            }
        }
        .tab-content {
            border-width: 0 0 0 1px;
            border-style: solid;
            border-color: $grayborder;
            padding-left: 1.875rem;
            .admin-column-accordion {
                margin-bottom: 10px;
                position: relative;
                z-index: 0;
                &:last-child {
                    margin-bottom: 0;
                }
                .accordion-opener {
                    background-color: transparent;
                    cursor: pointer;
                    height: 56px;
                    width: 35px;
                    top: 0;
                    right: 0;
                    position: absolute;
                    z-index: 1;
                }
                .accordion-title {
                    color: $titlecolor;
                    @include font14_700;
                    line-height: $lineheight20 + 4px;
                    padding: 0;
                    position: relative;
                    &.show {
                        .accordion-toggler i:before {
                            content: "\e648";
                        }
                    }
                }
                .accordion-type-title {
                    .accordion-actions {
                        display: inline-block;
                        font-size: $fontsize - 2px;
                        font-weight: $weight400;
                        margin-left: 15px;
                        opacity: 0;
                        .edit-button {
                            color: $fast;
                            margin-right: 5px;
                        }
                        .remove-button {
                            color: $slow;
                        }
                    }
                    &:hover {
                        .accordion-actions {
                            opacity: 1;
                        }
                    }
                    .accordion-type {
                        color: $blackmuted;
                        font-size: $fontsize - 2px;
                        font-weight: $weight400;
                        margin-right: 10px;
                    }
                }
                .accordion-helper {
                    color: $titlecolor;
                    font-size: $fontsize - 2px;
                    line-height: $lineheight20 + $lineheight16;
                    top: 10px;
                    right: -35px;
                    position: absolute;
                    button {
                        background-color: transparent;
                        border: 0;
                        box-shadow: none;
                        cursor: pointer;
                        padding: 0;
                    }
                    i {
                        display: inline-block;
                        line-height: $lineheight20 + $lineheight16;
                        padding: 0 5px;
                    }
                    .accordion-clone {
                        color: $fast;
                    }
                    .accordion-remove {
                        color: $slow;
                    }
                    .accordion-toggler {
                        color: $primarycolor;
                    }
                }
                .accordion-body {
                    border-top: 1px solid $whitegray;
                    display: none;
                    padding: 1rem;
                    .inner-content {
                        border-top: 1px solid $whitegray;
                        padding: 10px 0;
                        &:first-child {
                            border-top: 0;
                        }
                    }
                    .column {
                        label {
                            color: $titlecolor;
                            @include font14_600;
                        }
                        &.is-4 {
                            padding: 0 1rem;
                        }
                        [class*="content-"] {
                            padding: 0;
                        }
                    }
                    select,
                    input:not([type="checkbox"], [type="radio"], .range-slider-wrapper
                            .range-value) {
                        width: 100%;
                    }
                    .range-slider-wrapper {
                        color: $blackmuted;
                        display: inline-block;
                        @include font14_400;
                        width: calc(100% - 100px);
                    }
                    .range-value {
                        color: $blackmuted;
                        float: left;
                        margin-right: 10px;
                        padding: 8px;
                        width: 50px;
                    }
                    .range-slider {
                        border-radius: $radius6p - 3px;
                        float: right;
                        height: 10px;
                        margin-top: 10px;
                        position: relative;
                        width: calc(100% - 75px);
                        .ui-slider-handle {
                            background-color: $grayborder;
                            border-radius: $radius6p - 3px;
                            height: 14px;
                            width: 14px;
                            top: -2px;
                            position: absolute;

                            &:focus-visible {
                                outline: 0;
                            }
                        }
                    }
                    .unit-labels {
                        float: right;
                        margin-top: 10px;
                        label {
                            color: $blackmuted;
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
    .columns.is-desktop {
        padding-top: 0.625rem;
    }
}

// Adminify Server Info

.wp-adminify_page_adminify-server-info {
    .adminify-content {
        background-color: inherit;
    }
    .adminify-field {
        padding: 0;
    }
    .adminify-tabbed-content {
        background-color: inherit;
        border: 0;
        border-bottom-left-radius: $radius6p;
        border-bottom-right-radius: $radius6p;
        box-shadow: none;
        .adminify-field {
            padding: 1.25rem;
            h1 {
                line-height: 1;
                padding: 0;
            }
            p {
                margin-bottom: 0;
            }
        }
    }
    table {
        th,
        td {
            padding: 17px 1.25rem;
            &:first-child {
                width: 15rem;
            }
        }
        + h2 {
            margin: 1.5rem 0;
        }
    }
    .adminify-copy-btn {
        margin-top: 2.5rem;
        &:focus {
            background-color: $whitecolor;
            border-color: $primarycolor;
            color: $primarycolor;
        }
        .icon {
            font-size: 0;
            &:before {
                font-size: $fontsize + 2px;
            }
        }
    }
    #PHPinfo,
    #MYSQLinfo {
        margin: 0;
        table {
            margin: 0;
            table-layout: fixed;
            th,
            td {
                width: 30%;
            }
        }
        hr {
            display: none;
        }
    }
    #PHPinfo {
        table {
            margin-bottom: 3rem;
        }
    }
    .adminify-info-text-area {
        background-color: #2c2c2c;
        border-radius: $radius6p;
        color: $dark-mode-white;
        height: 75vh;
        margin-top: 1.25rem;
        padding: 1.25rem;
        width: 100%;
    }
    .wp-adminify-error-logs .field-status {
        border-radius: $radius6p - 3px;
    }
}

.fs-modal-license-activation-adminify {
    .fs-modal-header {
        background-color: $primarycolor;
        border: 0;
        h4 {
            color: $whitecolor;
            text-shadow: none;
        }
        .fs-close {
            color: $whitecolor;
            &:hover {
                background: $reddark;
            }
        }
    }
}

#fs_affiliation_content_wrapper p:not(.description),
#fs_affiliation_content_wrapper li,
#fs_affiliation_content_wrapper label {
    font-size: $fontsize !important;
    line-height: $lineheight20 !important;
}
#fs_affiliation_content_wrapper h3 {
    font-size: initial;
}
#fs_affiliation_content_wrapper .button {
    height: auto;
}
.wp-adminify-rollback-button {
    line-height: 30px;
    padding: 0 16px 4px;
    &:before {
        float: left;
        line-height: 1;
        margin: 10px 3px 0 0;
    }
}
