@import 'variables', 'mixins';

@media (min-width: 1024px) {
  .wp-adminify {
    &.adminify-round-open-menu {
      #adminmenu {
        .wp_adminify_admin-menu {
          padding-left: 1rem;
          li:hover {
            background-color: transparent;
          }
          li.wp-adminify-active {
            background-color: transparent;
            padding-top: 15px;
            position: relative;
            z-index: 0;
            &:before,
            &:after {
              content: '';
              background-color: $primarycolor;
              border: 0;
              height: 20px;
              width: 30px;
              right: 0;
              position: absolute;
              z-index: -2;
            }
            &:before {
              top: 0;
            }
            &:after {
              top: 46px;
            }
            > a.menu-top {
              background-color: $primarycolor;
              border-top-left-radius: 3rem;
              border-bottom-left-radius: 3rem;
              color: $whitecolor;
              position: relative;
              &::before,
              &:after {
                content: '';
                background-color: $menu-bg-color;
                height: 20px;
                width: 100%;
                right: 0;
                left: inherit;
                margin-top: 0;
                position: absolute;
                z-index: -1;
              }
              &:before {
                display: block;
                top: -20px;
                border-bottom-right-radius: 3rem;
                border-bottom-left-radius: 3rem;
              }
              &:after {
                top: inherit;
                bottom: -20px;
                border-top-right-radius: 3rem;
                border-top-left-radius: 3rem;
              }
              &:hover {
                border-top-left-radius: 3rem;
                border-bottom-left-radius: 3rem;
              }
            }
            &.menu-top {
              &:after {
                display: block;
              }
              &:hover {
                > a.menu-top {
                  border-top-left-radius: 3rem;
                  border-bottom-left-radius: 3rem;
                }
              }
            }
            .wp-submenu {
              .wp-adminify-active {
                &:before,
                &:after {
                  display: none;
                }
              }
            }
          }
        }
      }
      &.folded {
        #adminmenu {
          .wp_adminify_admin-menu {
            padding-left: 0;
            li {
              &.wp-menu-open {
                padding-top: 0;
                &:before,
                &:after {
                  display: none;
                }
                > a.menu-top {
                  border-radius: 4px;
                  .wp-adminify-icon-button {
                    &:before {
                      color: $primarycolor;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .wp-adminify {
    &.js.is-fullscreen-mode {
      margin-top: 0;
      height: calc(100% + 68px);
      overflow-y: hidden;
    }
    .block-editor__container {
      min-height: calc(100vh - 100px);
      .interface-pinned-items {
        .components-button svg{
          vertical-align: middle;
        }
      }
    }
    &.block-editor-page #wpbody-content {
      min-height: 90vh;
    }
    // #adminmenu {
    //   .wp_adminify_admin-menu {
    //     li.menu-top:nth-last-child(1),
    //     li.menu-top:nth-last-child(2) {
    //       &.opensub:hover {
    //         .wp-submenu {
    //           top: inherit !important;
    //           bottom: 0;
    //         }
    //       }
    //     }
    //   }
    // }
    .edit-post-layout .editor-post-publish-panel,
    .edit-site .entities-saved-states__panel {
      top: 70px !important;
    }
  }
}

@media (max-width: 1345px) {
  .wp-adminify #wpbody-content .wp-adminify-dashboard-widgets .adminify-container{
    max-width: 80%;
  }
}
@media (max-width: 1300px) {
  .wp-adminify.has-folder-options #wpbody-content {
    padding-left: 17rem;
  }
  .wp-adminify--folder-widget {
    left: 14.75rem;
    width: 310px;
    .folder--actions a {
      padding: 0 5px;
    }
  }
}

@media (max-width: 1280px) {
  .wp-adminify {
    #adminmenu,
    #adminmenuback,
    #adminmenuwrap {
      width: 12.5rem;
    }
    .wp-adminify--folder-widget {
      left: 12rem;
      width: 280px;
      .folder--header {
        span {
          font-size: 1rem;
          margin-right: 3px;
        }
        a {
          padding: 5px 8px;
          margin-left: 3px;
          font-size: 12px;
        }
      }
      .folder--actions {
        a {
          padding: 0 8px;
        }
        ul {
          display: flex;
          align-items: center;
          justify-content: center;
          a {
            margin: 10px 5px 0;
          }
        }
      }
      .folder--lists {
        li {
          a {
            padding-right: 0;
          }
        }
      }
    }
    &.has-folder-options.folded #wpbody-content,
    &.has-folder-options #wpbody-content {
      padding-left: 15rem !important;
    }
    #wpcontent,
    #wpfooter {
      margin-left: 12.75rem;
    }
    #adminmenu .wp-submenu {
      left: 12.55rem;
    }
    #adminmenu
      .wp_adminify_admin-menu
      li.wp-menu-open
      > a.wp-adminify-active:before {
      left: -0.875rem;
    }
    .adminify-field {
      padding: 20px;
    }
    #wpbody-content .tablenav-pages .pagination-links .button,
    #wpbody-content .tablenav-pages .pagination-links input {
      min-width: 32px;
    }
  }
}

@media (max-width: 1200px) {
  .wp-adminify {
    .adminify-top_bar {
      nav.adminify-top-navbar {
        .adminify-legacy-admin{
          #wp-admin-bar-top-secondary,
          #wp-admin-bar-root-default {
            flex-basis: 35% !important;
          }
          .wp-adminify-top-header--search--form {
            flex-basis: 30%;
            .top-header--search--form {
              width: 40px !important;
              margin: 0 auto !important;
              transition: 0.35s !important;
              input {
                width: 40px !important;
                padding-right: 0 !important;
                transition: width 0.35s, padding 0.35s !important;
              }
              &.adminify-form-expand {
                width: 100% !important;
                margin-left: 0 !important;
                input {
                  padding: 10px 15px;
                  width: 100% !important;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1185px) {
  .wp-adminify #wpbody-content .wp-adminify-dashboard-widgets .adminify-container{
    max-width: 90%;
  }
}
@media (max-width: 1170px) {
  .wp-adminify .adminify-top_bar nav.adminify-top-navbar .navbar-brand {
    width: 13.5rem;
    .navbar-item img {
      max-width: 130px;
    }
  }
  .wp-adminify #adminmenu,
  .wp-adminify #adminmenuback,
  .wp-adminify #adminmenuwrap {
    width: 11rem;
  }
  .wp-adminify #adminmenu .wp-submenu {
    left: 11.05rem;
  }
  .wp-adminify .wp-adminify--folder-widget {
    left: 10.5rem;
    width: 280px;
  }
  .wp-adminify #wpcontent,
  .wp-adminify #wpfooter {
    margin-left: 11rem;
  }
  .js.plugins-php .search-box .wp-filter-search,
  .wp-filter .search-form input[type='search'] {
    max-width: 200px;
  }
  .wp-adminify #wpbody-content .wp-list-table.widefat tr th {
    padding: 15px 5px;
  }
  .wp-adminify {
    .wp-adminify-sidebar-generator .adminify-container {
      max-width: 100%;
    }
    .wp-adminify-page-speed-wrapper.tabbable.p-4 {
      padding: 0 !important;
    }
    .wp-adminify-page-speed-wrapper .tab-content {
      padding: 1rem;
    }
    .wp-adminify-speed-analyze-history .history-table button.report-button {
      margin: 0 0 10px;
    }
    &.plugin-install-php
      #wpbody-content
      .plugin-card
      .plugin-card-top
      .action-links {
      margin-left: 0;
      position: absolute;
    }
  }
}

@media (max-width: 1051px) {
  .wp-adminify #wpbody-content .wp-adminify-dashboard-widgets .adminify-content .adminify-field-subheading{
    font-size: 16px;
  }
}
@media (max-width: 1025px) and (max-width: 1170px) {
  .wp-adminify {
    .wp-adminify--folder-widget {
      width: 250px;
      .folder--lists {
        li {
          a {
            margin-left: 0.625rem !important;
            padding-left: 0;
          }
        }
      }
    }
    .wp-adminify--folder-widget .folder--header,
    .wp-adminify--folder-widget .folder--actions,
    .wp-adminify--folder-widget .folder--search,
    .wp-adminify--folder-widget .folder--stats,
    .wp-adminify--folder-widget .folder--lists {
      padding: 13px 10px;
    }
    .folder--header,
    .folder--header a {
      display: block;
    }
    &.has-folder-options.folded #wpbody-content,
    &.has-folder-options #wpbody-content {
      padding-left: 13rem !important;
    }
    #wpbody-content .wp-list-table.widefat td.title,
    #wpbody-content .wp-list-table.widefat td.column-title {
      min-width: 170px;
      max-width: 170px;
    }
    &.has-folder-options #wpbody-content {
      .wp-list-table.widefat tbody td {
        padding: 15px 3px;
      }
      .subsubsub li a {
        padding: 7px 8px 8px;
      }
      #posts-filter .search-box {
        input[type='search'] {
          max-width: 130px;
        }
        input[type='submit'] {
          padding: 0 5px;
        }
      }
      .tablenav .actions {
        padding: 0;
      }
      .quick-edit-row-post .inline-edit-col-right {
        width: 37%;
      }
    }
    #wpfooter {
      font-size: 12px;
    }
    #menu-management-liquid {
      min-width: inherit;
      max-width: 100%;
    }
    #menu-name {
      width: 200px;
    }
    .wp-adminify-two-columns > .adminify-field {
      flex-basis: 100%;
      width: 100%;
    }
    #wpbody-content .adminify-section[data-section-id] .adminify--switcher {
      float: right;
    }
    #wpbody-content
      .adminify-section[data-section-id]
      .adminify-field-notice
      .adminify-notice.adminify-notice-warning
      p {
      display: initial;
    }
    #wpbody-content
      .adminify-section[data-section-id]
      .adminify--button-group
      .adminify--button {
      padding: 0 1rem;
    }
    .adminify-field .adminify-title {
      width: 30%;
    }
    .adminify-field .adminify-fieldset {
      width: calc(70% - 20px);
    }
    .adminify-fieldset .adminify--label {
      text-align: right;
    }
    .button,
    button {
      padding: 0 6px;
    }
  }
  .js.plugins-php .search-box .wp-filter-search,
  .wp-filter .search-form input[type='search'] {
    max-width: 150px;
  }
}

@media (max-width: 1024px) {
  .wp-adminify {
    .adminify-field .adminify-title {
      width: 20%;
    }
    .adminify-field .adminify-fieldset {
      width: calc(80% - 20px);
    }
    #wpbody-content
      .adminify-section[data-section-id]
      .adminify--button-group
      .adminify--button {
      padding: 0 14px;
    }
    .adminify-nav-normal,
    .adminify-nav-background {
      width: 190px;
    }
    #wpbody-content .adminify-options.wp-adminify-settings .adminify-content {
      margin-left: 190px;
    }
    .wp-adminify--user--wrapper {
      width: 300px;
    }
    #wpadminbar #wp-admin-bar-root-default li{
      &:last-child{
        margin-right: 10px;
      }
    }
    .adminify-top_bar {
      nav.adminify-top-navbar {
        .wp-adminify-top-adminbar {
          display: inline-block;
          text-align: right;
        }
        .navbar-start,
        .navbar-end {
          display: inline-block;
          margin: 0;
        }
      }
    }
    #adminmenu .wp_adminify_admin-menu li.menu-top {
      > a.menu-top {
        padding: 0 15px;
      }
      .wp-submenu {
        padding-left: 2rem;
      }
    }
    &.adminify-round-open-menu {
      #adminmenu {
        .wp_adminify_admin-menu {
          padding-left: 1rem;
        }
      }
      &.folded {
        #adminmenu {
          .wp_adminify_admin-menu {
            padding-left: 0;
          }
        }
      }
    }
    #wpbody-content .tablenav .actions input[type='submit'] {
      padding: 0 9px;
    }
    #wpbody-content
      #posts-filter
      .wp-list-table.widefat:not(.pages, .posts)
      .inline-edit-row
      fieldset {
      width: 38%;
      &.inline-edit-col-center {
        width: 20%;
      }
    }
    #wpbody-content
      .adminify-options
      .adminify-field-tabbed
      .adminify-tabbed-nav
      a {
      font-size: $fontsize - 1px;
      padding: 10px 4px;
    }
    #wpbody-content .adminify-tabbed-content .wp-list-table.widefat {
      table-layout: fixed;
    }
    #activity-filter .tablenav-pages {
      margin: 10px 0;
    }
    .postbox-container .adminify-metabox {
      .adminify-title,
      .adminify-fieldset {
        width: 100%;
      }
    }
    .regular-text {
      width: 20rem;
    }
    .menu-edit .checkbox-input {
      margin-left: 20px;
    }
  }
}

@media (max-width: 1023px) {
  .wp-adminify {
    &.folded {
      .adminify-top_bar {
        nav.adminify-top-navbar {
          .navbar-brand {
            width: 4rem;
            .navbar-burger {
              display: none;
            }
          }
          .navbar-menu {
            flex: 0 0 20.5%;
            background-color: inherit;
            box-shadow: none;
            padding: inherit;
            display: block;
          }
          .adminify-legacy-admin{
            #wpadminbar{
              top: 6px;
              .navbar{
                display: flex;
                align-items: stretch;
                .wp-adminify-top-header--search--form {
                  padding-left: 10px;
                }
              }
            }
          }
          .navbar-end .wp-adminify--user--account button {
            .image img{
              max-width: 45px !important;
            }
          }
        }
        #wpadminbar {
          margin-left: 10px;
        }
        #wpadminbar {
          .ab-item {
            .ab-lebel {
              display: block;
            }
          }
        }
      }
    }
    &.has-folder-options {
      &.folded {
        #wpbody-content {
          padding-left: 12rem !important;
        }
        .wp-adminify--folder-widget {
          left: 80px !important;
          width: 180px;
          .wp-adminify--folder-app {
            padding: 25px 0;
          }
          .folder--actions input[type='checkbox'] {
            border-radius: 4px;
            height: 16px;
            width: 16px;
            &:checked:before {
              height: 20px;
              width: 20px;
            }
          }
        }
      }
      #wpbody-content {
        .wp-list-table.widefat {
          tbody {
            td:not(.column-title) {
              max-width: 40px;
            }
            td.title,
            td.column-title {
              min-width: 130px;
              max-width: 130px;
              width: 130px !important;
            }
          }
        }
      }
    }
    #wpbody-content {
      .wp-list-table.widefat {
        thead th.column-primary {
          width: auto;
        }
        th.column-primary ~ th,
        tr:not(.inline-edit-row):not(.no-items)
          td.column-primary
          ~ td:not(.check-column) {
          display: table-cell;
        }
        tr:not(.inline-edit-row):not(.no-items)
          td:not(.column-primary)::before {
          display: none;
        }
        .row-actions {
          align-items: center;
          a {
            line-height: $lineheight20;
            margin-bottom: 0;
            padding: 0 3px;
          }
        }
      }
      #posts-filter {
        .filter-items {
          margin-bottom: 10px;
        }
        p.search-box {
          clear: both;
          height: auto;
          margin: 0;
          position: static;
          width: 100%;
          input {
            margin: 0 10px 0 0;
          }
        }
      }
      .toggle-row {
        display: none;
      }
      .theme-overlay .theme-wrap {
        height: 80vh;
        right: 20px;
      }
    }
  }
}

@media (max-width: 992px) {
  .wp-adminify {
    #adminmenu .wp_adminify_admin-menu li.menu-top > a.menu-top {
      padding: 0;
    }
    .adminify-top_bar {
      #wp-admin-bar-root-default #wp-admin-bar-new-content {
        margin-top: 0;
      }
    }
    #wpbody-content .wp-adminify-dashboard-widgets .adminify-content .adminify-field-subheading {
      display: inherit;
    }
  }
}

@media (max-width: 782px) {
  .wp-adminify {
    &.auto-fold #adminmenuback,
    &.auto-fold #adminmenuwrap,
    #wp-toolbar > ul > li {
      display: block;
    }
    #wpfooter {
      display: block;
    }
    .adminify-top_bar {
      nav.adminify-top-navbar{
        .adminify-legacy-admin {
          .wp-adminify-top-header--search--form {
            flex-basis: 50%;
            padding-left: 0 !important;
            .top-header--search--form {
              margin-left: 0 !important;
            }
          }
        }
      }
    }
    #wpcontent {
      .response-links,
      .column-comments {
        .post-com-count {
          .comment-count-approved {
            display: inline-block;
            margin-left: 0;
          }
          .screen-reader-text {
            display: none;
          }
        }
      }
      .adminify.adminify-options {
        .adminify-nav-normal,
        .adminify-nav-background {
          width: 175px;
        }
        .adminify-content {
          margin-left: 20px;
        }
        &.adminify-custom-css-js .adminify-search,
        &.adminify-custom-css-js .adminify-reset-all,
        .adminify-expand-all,
        .adminify-nav,
        .adminify-nav-background,
        .adminify-reset-section {
          display: initial !important;
        }
        &.adminify-custom-css-js .adminify-footer,
        .adminify-show-all .adminify-sections .adminify-section.hidden {
          display: block !important;
        }
        .adminify-header-left,
        .adminify-header-right {
          width: auto;
        }
        .adminify-sections {
          .adminify-section.hidden {
            display: none !important;
          }
        }
        .adminify-field {
          padding: 15px;
          .adminify-title {
            float: left;
          }
          .adminify-fieldset {
            float: right;
          }
        }
      }
      .adminify-section[data-section-id] {
        .adminify--button-group .adminify--button,
        .adminify-fieldset .wp-color-result .wp-color-result-text {
          padding: 0 10px;
        }
      }
      #wpadminbar{
        margin-left: 0;
        .quicklinks{
          .ab-top-menu{
            display: none !important;
          }
        }
      }
    }
    &.nav-menus-php .menu-edit #post-body #menu-to-edit {
      .menu-item-bar .menu-item-handle,
      .menu-item-settings {
        max-width: inherit;
        width: 100%;
      }
    }
    .user-pass1-wrap {
      button.wp-hide-pw {
        right: 0;
        width: auto;
      }
    }
    .form-table input[type='text'].small-text,
    input[type='number'].small-text,
    input[type='password'].small-text,
    input[type='search'].small-text,
    input[type='text'].small-text {
      padding: 8px 15px;
    }
  }
  .auto-fold #wpcontent {
    padding-left: 0;
    position: initial;
  }
}

@media (max-width: 768px) {
  .wp-adminify {
    #wpadminify-admin-columns {
      .columns {
        display: flex;
      }
      .is-4 {
        flex: 0 0 33.33%;
        width: 33.33%;
      }
      .tabs.is-centered + .tab-content {
        padding: 15px;
        .nav-tabs {
          padding-right: 15px;
        }
        .tab-content {
          padding-left: 15px;
        }
      }
    }
    &.has-folder-options {
      .wp-adminify--folder-widget {
        top: 123px;
      }
    }
  }
}

@media (max-width: 767px) {
  html.interface-interface-skeleton__html-container {
    position: static;
  }
  .wp-adminify {
    overflow: visible;
    #wpbody {
      padding-top: 0;
    }
    &.has-folder-options {
      #wpbody-content {
        padding-left: 14.7rem !important;
      }
      .wp-adminify--folder-widget {
        left: 0;
        top: 173px;
        .wp-adminify--folder-app{
          padding:20px;
        }
      }
    }
    .adminify-top_bar {
      nav.adminify-top-navbar {
        display: flex;
        flex-direction: column-reverse;
        .navbar-brand {
          margin-top: 10px;
          width: 100%;
          .navbar-burger {
            display: block;
            float: right;
            margin-right: 10px;
            i {
              font-size: 30px;
            }
          }
        }
        .adminify-legacy-admin {
          .wp-adminify-top-header--search--form {
            max-width: 320px;
            .top-header--search--form {
              margin-left: 0 !important;
            }
          }
        }
        #wpadminbar {
          margin-left: 0;
          padding: 0 15px;
        }
        #wp-admin-bar-root-default {
          justify-content: flex-end;
        }
        .adminify-admin-wrapper{
          width: 100%;
          display: flex;
          .adminify-legacy-admin{
            flex-basis: 50%;
          }
          .navbar-menu{
            flex-basis: 50%;
            justify-content: flex-end;
            display: flex;
            background-color: inherit;
            box-shadow: none;
            padding: 0;
          }
          .adminify-legacy-admin{
            .quicklinks{
              ul.ab-top-menu{
                display: none !important;
              }
            }
          }
        }
      }
    }
    #adminmenumain {
      display: inline-block;
      width: 100%;
      overflow: hidden;
      #adminmenuwrap,
      #adminmenu {
        display: inline-block;
        position: static !important;
        width: 100%;
      }
      #adminmenuwrap {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        #adminmenu {
          padding: 0 15px;
          .wp_adminify_admin-menu {
            li {
              &.menu-top {
                .wp-submenu {
                  background-color: transparent;
                  display: block;
                  max-height: 0;
                  overflow: hidden;
                  padding-left: 1.125rem;
                  transition: max-height 0.3s;
                }
                &.wp-adminify-active,
                &.selected,
                &.wp-menu-open {
                  background-color: transparent;
                  .wp-submenu {
                    max-height: initial;
                    overflow: visible;
                    opacity: 1;
                    position: static;
                  }
                }
                // .wp-adminify-icon-button,
                // .wp-menu-name {
                //     position: static !important;
                // }
              }
            }
          }
        }
      }
      &.adminify-menu-expanded {
        #adminmenuwrap {
          overflow: visible;
          max-height: initial;
          opacity: 1;
        }
      }
    }
    #screen-meta-links {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      float: none;
    }
    #adminmenuback {
      display: none !important;
    }
    #wpcontent,
    #wpfooter {
      margin-left: 0 !important;
      padding: 0 15px;
    }

    .wp-list-table.widefat {
      tbody {
        td {
          max-width: 100px;
          padding: 15px 5px;
        }
      }
      td.title,
      td.column-title {
        min-width: 110px;
        max-width: 110px;
      }
      th.column-primary ~ th,
      tr:not(.inline-edit-row):not(.no-items)
        td.column-primary
        ~ td:not(.check-column) {
        max-width: 40px;
      }
      &.plugins {
        th,
        td {
          padding: 15px 5px;
        }
        .plugin-title {
          strong {
            font-size: $fontsize;
          }
        }
      }
      &.users {
        th,
        td {
          padding: 15px 5px;
        }
      }
    }
    table {
      pre {
        white-space: break-space;
      }
    }
    .tablenav .one-page {
      float: right;
      width: auto;
    }

    #wpcontent {
      #wpbody-content {
        padding-bottom: 1rem;
        #screen-meta + .notice {
          margin: 20px 0;
        }
        .page-title-action {
          top: 5px;
        }
        .subsubsub li {
          margin: 3px 0;
        }
        #posts-filter {
          .search-box {
            input {
              display: inline-block;
              &[type='search'] {
                width: calc(100% - 130px);
              }
              &[type='submit'] {
                margin: 0;
                width: 115px;
              }
            }
          }
        }
        .wp-list-table.widefat {
          .check-column {
            max-width: 22px;
            width: auto;
          }
          td.title,
          td.column-title {
            min-width: 100px;
            max-width: 100px;
          }
          &.wp-adminify_page_adminify-activity-logs {
            td {
              max-width: 45px;
            }
          }
        }
        .theme-overlay {
          .theme-wrap {
            top: 20%;
            right: 0;
          }
          .theme-about,
          .theme-screenshots {
            padding: 20px 15px;
          }
          .theme-name {
            font-size: 20px;
          }
          .theme-actions {
            a.button {
              padding: 0 10px;
            }
          }
        }
        .blocks-widgets-container .edit-widgets-block-editor {
          padding: 0;
        }
        #post-body-content label {
          width: 100%;
        }
        #createuser,
        #your-profile {
          padding: 15px;
        }
      }
      .wrap {
        margin-right: 0;
      }
      .block-editor {
        div {
          overflow: visible;
        }
      }
      .search-box {
        clear: both;
        height: auto;
        position: static;
      }
      .tablenav.bottom .displaying-num {
        text-align: center;
      }
      .adminify.adminify-options {
        margin-top: 70px;
        margin-right: 0;
        .adminify-header-inner,
        .adminify-footer {
          padding: 15px;
        }
        .adminify-header-right {
          float: left;
        }
        .adminify-buttons {
          .button {
            padding: 0 11px;
          }
          .adminify-save {
            min-width: inherit;
          }
        }
        .adminify-nav-normal {
          width: 100%;
        }
        .adminify-nav-background {
          display: none !important;
        }
        .adminify-content {
          margin-left: 0;
        }
        .adminify-section[data-section-id] {
          .adminify-field-subheading {
            box-sizing: border-box;
            display: inline-block;
            height: auto;
            max-width: 100%;
            width: 100%;
            a {
              margin: 3px 0;
            }
          }
          .adminify-field-notice {
            .adminify-title {
              margin-top: 0;
            }
            .adminify-notice {
              margin: 0;
            }
          }
          .adminify--switcher {
            float: left;
          }
          .adminify--button-group .adminify--button,
          .adminify-fieldset .wp-color-result .wp-color-result-text {
            padding: 0 8px;
          }
          .adminify--label {
            text-align: left;
          }
          .adminify-fieldset {
            textarea {
              width: 100%;
            }
            .adminify--result {
              margin-top: 10px;
              word-break: break-all;
            }
          }
        }
        .adminify-pro-notice {
          padding: 10px;
          .adminify-pro-notice-icon {
            height: 15px;
            width: 15px;
          }
          p {
            font-size: 13px;
          }
        }
        .adminify-field {
          .adminify-title,
          .adminify-fieldset {
            width: 100%;
          }
        }
        &.adminify-server-info {
          .adminify-tabbed-contents {
            background-color: transparent;
            box-shadow: none;
            .wp-list-table.widefat {
              background-color: $whitecolor;
              table-layout: auto;
              th,
              td {
                padding: 15px 5px;
                &:first-child {
                  width: auto !important;
                }
              }
              tbody {
                td {
                  max-width: 120px;
                }
                tr:last-child {
                  a {
                    position: static;
                  }
                }
              }
            }
          }
          .adminify-field {
            padding: 0;
          }
        }
      }
      .adminify-menu-editor-help-urls.wp-heading-inline.is-pulled-left.is-flex.is-align-items-center {
        flex-direction: column;
        a {
          margin-top: 10px;
        }
      }
      .wp-adminify--page--title--actions {
        display: flex;
        align-items: center;
      }
    }
    &.themes-php #wpbody-content,
    &.theme-install-php #wpbody-content {
      .search-form {
        width: 100%;
        input {
          max-width: inherit;
          margin-bottom: 15px;
          width: 100%;
        }
      }
    }
    &.theme-install-php #wpbody-content {
      .wp-filter {
        padding: 0 10px;
      }
      .filter-count {
        display: inline-block;
      }
      .theme-browser .theme:not(.add-new-theme) .theme-screenshot img {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        padding: 0;
      }
      .theme-install-overlay .wp-full-overlay-header button:before {
        top: 0;
      }
    }
    .wp-full-overlay {
      .wp-full-overlay-sidebar {
        width: 100%;
      }
      &.collapsed .wp-full-overlay-sidebar {
        margin-left: -100%;
      }
    }
    &.nav-menus-php {
      #wpbody-content {
        #nav-menus-frame {
          #menu-name {
            margin-top: 10px;
            width: 100%;
          }
          .publishing-action {
            float: none;
            text-align: left;
            widows: 100%;
          }
        }
        .menu-edit #post-body {
          padding: 15px;
          .menu-settings {
            fieldset {
              position: relative;
              legend {
                top: -7px;
                left: 22px;
                margin: 0;
                position: absolute;
              }
              .menu-settings-input label {
                margin-top: 10px;
              }
            }
          }
        }
      }
    }
    #wpfooter {
      padding-bottom: 1.5rem;
      .adminify-first-child {
        float: none;
        width: 100%;
      }
      .adminify-last-child {
        display: none;
      }
    }
    &.block-editor-page
      .adminify-top_bar
      nav.adminify-top-navbar
      .navbar-brand
      .navbar-burger {
      display: block;
    }
    &.plugins-php {
      #wpcontent {
        #wpbody-content {
          .wp-list-table.widefat {
            &.plugins {
              th,
              td {
                padding: 15px 5px;
              }
              .check-column {
                max-width: 20px;
              }
              th.column-primary ~ th,
              tr:not(.inline-edit-row):not(.no-items)
                td.column-primary
                ~ td:not(.check-column) {
                max-width: 100px;
              }
              .plugin-title {
                strong {
                  font-size: $fontsize;
                }
              }
            }
          }
        }
      }
    }
    &.plugin-install-php #wpbody-content {
      .filter-links li > a {
        margin: 5px 3px 0;
        padding: 0;
      }
      .plugin-card {
        .plugin-card-top {
          padding: 15px 15px 3rem;
          .name {
            margin-left: 100px;
            a {
              font-size: 15px;
            }
            .plugin-icon {
              top: 15px;
              left: 15px;
              width: 85px;
            }
          }
          .desc {
            margin-left: 100px;
          }
          .action-links {
            bottom: 15px;
            left: 15px;
          }
        }
        .plugin-card-bottom {
          padding: 15px;
          .column-rating,
          .column-updated,
          .column-downloaded,
          .column-compatibility {
            float: none;
            margin: 5px 0;
            max-width: 100%;
            text-align: left;
            width: 100%;
          }
        }
      }
    }
    &.users-php {
      #wpbody-content {
        .wp-list-table.widefat {
          &.users {
            th,
            td {
              padding: 15px 5px;
            }
          }
        }
      }
    }
    &.horizontal-menu {
      #adminmenumain {
        display: inline-block;
        width: 100%;
        #adminmenu {
          .wp_adminify_admin-menu {
            li.menu-top {
              .wp-submenu {
                box-shadow: none;
                position: static;
                max-width: inherit;
                width: 100%;
              }
            }
          }
        }
      }
      .wp-adminify-horizontal-menu {
        display: none;
      }
      #wpcontent {
        .wrap,
        .adminify.adminify-options {
          margin-left: 0;
        }
      }
    }
    &.adminify-round-open-menu #adminmenu .wp_adminify_admin-menu {
      padding-left: 0;
      li.menu-top {
        a {
          padding-left: 15px;
        }
      }
    }
  }
  .js.plugins-php .search-box .wp-filter-search,
  .wp-filter .search-form input[type='search'] {
    max-width: inherit;
  }
}

@media (max-width: 600px) {
  .wp-adminify {
    #wpcontent {
      #wpbody-content {
        .blocks-widgets-container {
          .interface-interface-skeleton {
            width: 100%;
          }
        }
        .wp-list-table.widefat {
          &.users {
            td {
              strong {
                clear: both;
                display: block;
              }
            }
          }
        }
        .widefat.importers .importer-item {
          flex: 0 0 100%;
          padding: 15px;
          width: 100%;
        }
        #export-filters {
          padding: 15px;
          .export-filters {
            margin: 0;
            select,
            .label-responsive {
              flex-basis: 100%;
              width: 100%;
            }
          }
        }
        .health-check-accordion-panel {
          padding: 15px;
        }
        .privacy-settings-accordion-panel {
          padding: 0;
        }
      }
    }
    &.options-general-php,
    &.options-writing-php,
    &.options-reading-php,
    &.options-discussion-php,
    &.options-media-php,
    &.options-permalink-php {
      #wpbody-content form {
        padding: 15px;
      }
    }
    &.options-privacy-php #wpbody-content {
      .notice {
        margin: 0 0 0 15px;
      }
      .privacy-settings-body {
        padding: 0 15px;
      }
    }
  }
}

@media (max-width: 500px) {
  .wp-adminify {
    &.has-folder-options {
      #wpcontent{
        z-index: 2;
        #wpbody-content {
          padding-left: 0 !important;
        }
      }
      #wp-adminify--folder-app{
        z-index: 1;
        .wp-adminify--folder-widget {
          width: 100%;
          .wp-adminify--folder-app{
            padding:15px;
          }
        }
      }
    }
  }
}
