@import "variables", "mixins", "fonts";

// Apperance Background

&.appearance_page_custom-background {
    #custom-background {
        #message {
            border: 1px solid $whitegray;
            &.updated {
                border-left-color: $fast;
            }
        }
        .form-table {
            #remove-background {
                margin-bottom: 10px;
            }
            #choose-from-library-link {
                margin-top: 10px;
            }
            .wp-picker-container {
                .wp-color-result {
                    background-color: $lightgray;
                    border: 1px solid $primarycolor;
                    border-radius: $radius6p;
                    padding: 0;
                    height: auto;
                    .wp-color-result-text {
                        background-color: $whitecolor;
                        border: 0;
                        border-left: 1px solid $primarycolor;
                        border-top-right-radius: $radius6p;
                        border-bottom-right-radius: $radius6p;
                        color: $primarycolor;
                        font-size: $fontsize;
                        line-height: $lineheight20 + $lineheight16 - 2px;
                        margin-left: 2.375rem;
                        padding: 0 13px;
                    }
                }
            }
            .background-position-control {
                .button-group {
                    .button {
                        background-color: $whitecolor;
                        border: 1px solid $whitegray;
                        box-shadow: none;
                        color: $primarycolor;
                    }
                    .dashicons {
                        margin-top: 10px;
                    }
                }
                input[type="radio"]:checked ~ .button {
                    background-color: $primarycolor;
                    border-color: $primarycolor;
                    color: $whitecolor;
                    .background-position-center-icon {
                        &:before {
                            background-color: $whitecolor;
                        }
                    }
                }
                .background-position-center-icon {
                    margin-top: 13px;
                }
            }
        }
    }
}
