// Appearence widgets

.widget-access-link {
    margin: 22px 25px 0 0;
    a {
        color: $primarycolor;
        @include font14_700;
        &#access-off {
            color: $reddark;
        }
    }
}

#available-widgets {
    .sidebar-name {
        color: $blackcolor;
        font-size: $fontsize + 4px;
        line-height: $lineheight20;
    }
    .widget .widget-description {
        color: $blackcolor;
        font-size: $fontsize - 1px;
        line-height: $lineheight16;
        padding: 10px 0;
    }
}
.widgets-holder-wrap {
    .description {
        color: $black;
        @include font14_400;
        line-height: $lineheight20;
        margin: 10px 0;
    }
}
#available-widgets,
#widgets-right,
.widget-holder.inactive {
    .widget {
        .widget-top {
            background-color: $whitecolor;
            border: 1px solid $blackborder;
            box-shadow: none;
            &:hover {
                border-color: $blackborder;
                box-shadow: none;
            }
            .widget-title-action {
                .toggle-indicator {
                    color: $blackplaceholder;
                }
            }
            .widget-title {
                h3 {
                    color: $black;
                    @include font14_700;
                    line-height: $lineheight20;
                    padding: 12.5px 15px;
                }
            }
            .widget-action {
                color: $black;
                padding: 14px 10px;
            }
        }
    }
}

&.widgets-php {
    .wrap {
        margin-top: 45px;
    }
    .page-title-action {
        float: right;
        margin-top: 3px;
    }
    #wpbody-content {
        button {
            &.handlediv,
            &.widget-action {
                background-color: transparent;
                border: 0;
                line-height: 1;
                padding: 0;
            }
        }
        #widgets-left {
            padding-top: 0;
            .handlediv {
                margin-top: 12px;
            }
        }
        .widget-control-actions {
            button,
            button.widget-control-close {
                @include font12;
                line-height: $lineheight16;
            }
            button.button-link-delete {
                color: $redlight;
            }
            button.widget-control-close {
                background-color: transparent;
                color: $primarycolor;
                &:hover {
                    color: $primarycolor;
                }
            }
        }
    }
    #widgets-left,
    #widgets-right {
        .widgets-holder-wrap {
            .handlediv {
                .toggle-indicator {
                    display: block;
                    &:before {
                        content: "\f347";
                        box-shadow: none;
                        color: $blackcolor;
                        font-size: $fontsize + 2px;
                        &:focus {
                            box-shadow: none;
                            outline: 0;
                        }
                    }
                }
            }
            &.closed {
                .handlediv {
                    .toggle-indicator {
                        &:before {
                            content: "\f343";
                        }
                    }
                }
            }
        }
    }
    .widget.open {
        z-index: 1;
    }
    .widget-top {
        .widget-action {
            .toggle-indicator {
                &:before {
                    content: "\f347";
                    box-shadow: none;
                    color: $blackcolor;
                    font-size: $fontsize + 2px;
                    &:focus {
                        box-shadow: none;
                        outline: 0;
                    }
                }
            }
        }
    }
    .chooser,
    .open {
        .widget-top {
            .widget-action {
                .toggle-indicator {
                    &:before {
                        content: "\f343";
                    }
                }
            }
        }
    }
}

// Widgets left

#widgets-left {
    .widget {
        margin-bottom: 1rem;
    }
    .sidebar-name h2,
    .widget-holder .widget-description {
        color: $black;
    }
    .widgets-chooser {
        .widgets-chooser-sidebars {
            border: 0;
            li {
                &:before {
                    top: 5px;
                }
                &:hover {
                    &:before {
                        color: $primarycolor;
                    }
                }
                .widgets-chooser-button {
                    padding-left: 2rem;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
        .widgets-chooser-actions {
            button {
                border-radius: $radius6p;
                box-shadow: none;
                color: $whitecolor;
                @include font14_600;
                letter-spacing: 0.25px;
                line-height: $lineheight20 + 12px;
                &.widgets-chooser-cancel {
                    background-color: $reddark;
                    border: 1px solid $reddark;
                    &:hover {
                        background-color: $whitecolor;
                        color: $reddark;
                    }
                }
                &.widgets-chooser-add {
                    background-color: $greencolor;
                    border: 1px solid $greencolor;
                    &:hover {
                        background-color: $whitecolor;
                        color: $greencolor;
                    }
                }
                &:hover {
                    color: $whitecolor;
                }
            }
        }
    }
    .widget-holder.inactive {
        .widget {
            .widget-top {
                background-color: $whitegray;
                &:hover {
                    border-color: $blackborder;
                    box-shadow: none;
                }
                .widget-title-action {
                    button {
                        padding: 14px 10px;
                    }
                }
            }
        }
    }
}

// Widget right

#widgets-right {
    margin-top: 15px;
    .widgets-holder-wrap {
        background-color: $whitecolor;
        border: 0;
        border-radius: $radius6p + 2px;
        box-shadow: $grayshadow;
        padding: 1.24rem;
        .widgets-sortables {
            min-height: inherit;
            padding: 0;
            .sidebar-name {
                h2 {
                    color: $black;
                    font-size: $fontsize + 4px;
                    line-height: $lineheight20;
                    padding: 0;
                }
                .handlediv {
                    height: auto;
                    margin: 0;
                    padding: 0;
                }
                + .widget {
                    margin-top: 15px;
                }
            }
        }
    }
}

// Widgets Inside

.widget-inside {
    label {
        color: $titlecolor;
    }
    input {
        background-color: $whitegray;
        border: 0;
        border-radius: $radius6p;
        box-shadow: none;
        color: $blackplaceholder;
        @include font14_400;
        height: auto;
        line-height: $lineheight16;
        min-height: 36px;
        padding: 4px 15px;
        &[type="checkbox"],
        &[type="radio"] {
            border-radius: $radius6p - 3px;
            height: 14px;
            width: 14px;
            min-height: inherit;
            min-width: inherit;
            &:before {
                height: inherit;
                width: inherit;
                margin: 0;
            }
        }
        &[type="number"].tiny-text {
            width: auto;
        }
    }
}

// Widgets Access

&.widgets_access {
    #wpbody-content {
        .widgets-holder-wrap {
            .widget-control-edit {
                background-color: $whitegray;
                font-weight: $weight700;
                line-height: $lineheight20 * 2 + 5px;
                text-transform: uppercase;
                &:hover {
                    background-color: $primarycolor;
                    color: $whitegray;
                }
            }
        }
        .editwidget {
            .widget-inside {
                padding: 5px 20px;
            }
        }
        .widget-position {
            tr {
                td,
                th {
                    border-bottom: 1px solid $graycolor;
                    padding: 15px;
                }
            }
        }
        .widget-control-actions {
            .widget-control-close-wrapper {
                font-size: 0;
            }
            .button-link {
                color: $redlight;
                @include font14_600;
                text-decoration: none;
                &.button-link-delete {
                    background-color: $slow;
                    border-color: $slow;
                    color: $whitecolor;
                    &:hover {
                        background-color: $whitecolor;
                        border-color: $slow;
                        color: $slow;
                    }
                }
                &.widget-control-close {
                    border: 1px solid $reddark;
                    color: $whitecolor;
                    display: inline-block;
                    line-height: $lineheight20 + $lineheight16 - 2px;
                    padding: 0 1rem;
                    &:hover {
                        border-color: $reddark;
                        color: $reddark;
                    }
                }
            }
        }
    }
}

#custom-background {
    #upload {
        margin: 10px 0 5px;
    }
}

// Appearance Widget Editor

#wpbody-content {
    .blocks-widgets-container {
        margin-top: 2.5rem;
        padding-bottom: 2rem;
        position: static;
        .interface-interface-skeleton {
            position: static;
            width: 100%;
        }
        .block-editor-block-navigation-leaf
            .block-editor-block-navigation-block-contents {
            line-height: $lineheight20 + 8px;
        }
        .components-popover {
            .components-popover__content {
                .block-editor-block-contextual-toolbar {
                    border: 0;
                }
                .block-editor-block-toolbar .components-button {
                    border: 1px solid $grayborder;
                    button {
                        border: 1px solid $grayborder;
                    }
                    &.is-up-button {
                        svg {
                            top: 0;
                        }
                    }
                    &.is-down-button {
                        svg {
                            bottom: 0;
                        }
                    }
                }
            }
        }

        .wp-block-widget-area {
            border: 0;
            .components-panel__body {
                border: 0;
                margin-top: 0;
                .components-panel__body-title {
                    background-color: transparent;
                    height: auto;
                    button.components-panel__body-toggle {
                        color: $titlecolor;
                    }
                }
            }
            .wp-block-widget-area__panel-body-content {
                .wp-block-widget-area__highlight-drop-zone {
                    outline: 0;
                }
                .block-editor-block-list__layout {
                    margin: 0;
                    padding: 1.25rem;
                    figure.wp-block {
                        border: 1px solid $grayborder;
                        margin: 0;
                        padding: 1.25rem;
                        &:focus,
                        &:visited,
                        &:focus-within,
                        &:focus-visible {
                            border: 1px solid $grayborder;
                            outline: 0;
                        }
                    }
                    .components-placeholder {
                        background-color: transparent;
                        box-shadow: none;
                        outline: 0;
                        padding: 0;
                    }
                }
                .components-placeholder__fieldset {
                    .components-button {
                        border-radius: $radius6p;
                        color: $whitecolor;
                        padding: 0 12px;
                    }
                }
                .block-editor-inserter {
                    margin-top: 1.5rem;
                    text-align: center;
                    button {
                        display: inline-block;
                        height: 36px;
                        width: auto;
                        .components-visually-hidden {
                            float: left;
                        }
                        svg {
                            float: left;
                            height: 36px;
                            path {
                                fill: $whitecolor;
                            }
                        }
                        &:hover {
                            svg {
                                path {
                                    fill: $primarycolor;
                                }
                            }
                        }
                    }
                }
            }
        }
        button {
            &.is-pressed:hover,
            &.edit-widgets-header-toolbar__inserter-toggle,
            &.edit-widgets-header-toolbar__inserter-toggle:hover {
                background-color: $primarycolor;
            }
        }
        .edit-widgets-block-editor {
            padding: 0 15px;
        }
        .components-button-group {
            button.components-button {
                border-radius: $radius6p - 3px;
                box-shadow: none;
                color: $whitecolor;
                line-height: $lineheight20;
                padding: 0 3px;
                &:hover {
                    background-color: $primarycolor;
                }
            }
        }
        .block-editor-block-styles__item:focus {
            box-shadow: none;
            outline: 0;
        }
        .edit-widgets-notices__snackbar {
            left: auto;
        }
        .interface-interface-skeleton__footer {
            padding: 15px 0;
        }
    }
}
