@import 'variables', 'mixins';

#wp-adminify--circle--menu {
    right: 1.5rem;
    bottom: 9rem;
    position: fixed;
    z-index: 9999;
    .circle-menu {
        li {
            &:first-child {
                a,
                .wp-core-ui .wp-ui-notification {
                    background:$redlight;
                    height: 44px;
                    width: 44px;
                    position: relative;
                    svg {
                        height: 24px;
                        width: 24px;
                        left: 50%;
                        top: 50%;
                        position: absolute;
                        transform: translate(-50%, -50%);
                        path {
                            fill: $whitecolor;
                            transition: all 3s ease;
                        }
                        &.circle-menu-close {
                            height: 16px;
                            opacity: 0;
                            z-index: -1;
                        }
                    }
                }
            }
            a {
                background-color: $redlight;
                border-radius: 50%;
                color: $whitecolor;
                display: flex;
                align-items: center;
                justify-content: center;
                @include font14_600;
                height: 40px;
                width: 40px;
                line-height: $lineheight20 + $lineheight16 + 4px;
                i {
                    height: initial;
                    width: initial;
                }
            }
        }
        &.circleMenu-open {
            li:first-child {
                a {
                    svg {
                        &.circle-menu-trigger {
                            opacity: 0;
                            z-index: -1;
                        }
                        &.circle-menu-close {
                            opacity: 1;
                            z-index: 1;
                        }
                    }
                }
            }
        }
    }
}
