@import "variables", "mixins", "fonts";

* {
    box-sizing: border-box;
}
.wp-die-message,
p:not(.interface-interface-skeleton__content p) {
    color: $blackcolor;
    font-size: $fontsize;
    line-height: $lineheight22;
    a {
        color: $primarycolor;
    }
}

a,
a:hover,
.field-move .menus-move,
.components-button.is-secondary:not(.block-editor-link-control__search-item-action),
.components-button.is-tertiary {
    color: $primarycolor;
    text-decoration: none;
} 
#wpbody-content .block-editor .edit-post-header__settings .components-button.is-tertiary{
    background: transparent !important;
}
#wpbody-content #site-editor .components-panel__body .components-checkbox-control__input-container input + svg{
    display: none !important;
}
.components-button.is-secondary{
    box-shadow: none !important;
}
a.edit-site-navigation-panel__back-to-dashboard{
    color: $whitecolor !important;
}
a,
button:not(.block-editor-block-mover-button),
.button,
input,
select,
textarea,
label,
.adminify-copy-btn,
.clear-button {
    box-shadow: none;
    min-height: inherit;
    &:hover,
    &:focus,
    &:visited,
    &:active {
        box-shadow: none !important;
        outline: 0 !important;
    }
}
button,
.button {
    height: auto;
    line-height: $lineheight20 + $lineheight16 - 2px;
    padding: 0 1rem;
    &.dashicons {
        font-family: dashicons;
    }
    .is-busy {
        background-color: $primarycolor;
    }
}

#wpcontent,
#wpfooter {
    margin-left: 15.25rem;
}
:root {
    --wp-admin-border-width-focus: 0;
}
img:not(.plugin-icon) {
    // height: auto;
    max-width: 100%;
}
.field.is-grouped {
    display: flex;
}
.is-rounded {
    border-radius: 9999px;
}
.is-inline-block {
    display: inline-block;
}
.nav-tabs,
.is-flex {
    display: flex;
}
.is-inline-flex {
    display: inline-flex;
}
.is-boxed.is-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown-menu {
    background-color: $menu-bg-color;
}
#dashboard-widgets-wrap {
    overflow: visible;
    iframe{
        max-width: 100%;
    }
}
#wpwrap {
    #wpbody-content {
        margin-top: 68px;
    }
    .wrap {
        clear: both;
        margin-top: 25px;
        padding-top: 0;
    }
}
.percentage {
    padding: 0 3px;
}
input,
textarea,
select,
.form-table .select2-container .select2-selection,
.wp-adminify-top-header--search--form input,
&.modal-open input[type="text"],
&.modal-open input[type="search"],
.wp-adminify-dashboard-widgets .chosen-choices,
.adminify-section[data-section-id]
    .adminify-data-wrapper
    .adminify-cloneable-content
    .adminify--result,
#nav-menus-frame .tabs-panel input[type="search"],
#nav-menu-header input[type="text"],
#posts-filter .wp-filter .search-form input,
.postbox-container #comments-form .search-box input,
.postbox-container #post_tag input[type="text"],
.media-modal .media-frame-content input[type="search"],
.media-frame-content .media-sidebar .compat-item input[type="text"],
.media-frame-content .settings input,
.media-frame-content .settings textarea,
.media-frame-content .setting input,
.media-frame-content .setting textarea,
.wp-adminify--menu--editor--settings
    .panel
    .menu-editor-form
    input[type="text"],
.wp-adminify--menu--editor--settings .panel .menu-editor-form input[type="url"],
#wpbody-content #createuser .form-table input,
.media-frame .embed-url input {
    @include search_input;
}
#fs_affiliation_content_wrapper #messages {
    display: inline-block;
    width: 100%;
}
input,
textarea {
    &::-webkit-input-placeholder {
        color: $blackplaceholder;
    }
    &::-moz-placeholder {
        color: $blackplaceholder;
    }
    &:-ms-input-placeholder {
        color: $blackplaceholder;
    }
    &:-moz-placeholder {
        color: $blackplaceholder;
    }
}
.select2-container .select2-selection--single {
    height: auto;
    min-height: 36px;
    .select2-selection__rendered {
        color: $black;
        line-height: 23px;
    }
}
#customize-theme-controls .customize-pane-child input{
    border: 1px solid #c1c1c1;
}
.is-primary:not(.wp-editor-wrap button, #adminify-data-saved-message),
.is-secondary:not(.wp-editor-wrap button, .wp-editor-wrap button),
.button-primary:not(.wp-editor-wrap button, .wp-editor-wrap button),
#wpbody-content .page-title-action,
#wpbody-content .elementor-button.elementor-button-success,
.elementor-button-go-pro,
#e-admin-top-bar-root .page-title-action,
#wpbody-content input[type="submit"]:not(.actions .button, #create-page),
.adminify-options.wp-adminify-settings .adminify-reset-section,
.wp-adminify-dashboard-widgets .adminify-field button:not(.wp-editor-wrap button),
.adminify-section[data-section-id] .adminify-fieldset button:not(.wp-switch-editor, .wp-editor-wrap button, .adminify-content button),
.adminify-data-wrapper .adminify-cloneable-content button:not(.wp-editor-wrap button),
#wpbody-content .wp-picker-input-wrap .button.wp-picker-default,
&.wp-adminify_page_adminify-sidebar-generator .sidebar-title a,
&.wp-adminify_page_adminify-sidebar-generator
    .wp-adminify--popup-container_inner
    form
    .button.button-primary,
#wpadminify-admin-columns .columns.is-desktop button,
&.appearance_page_custom-background
    #custom-background
    .form-table
    #choose-from-library-link,
&.appearance_page_custom-background
    #custom-background
    .wp-picker-container
    .wp-picker-input-wrap
    .button,
&.nav-menus-php #nav-menus-frame .menu-edit .button,
&.nav-menus-php .appearance_page_custom-background .wp-upload-form button,
#widgets-left .widgets-chooser .widgets-chooser-sidebars button,
#wpbody-content .postbox-container #post_tag input.button,
#post-body-content
    .postarea
    button:not(.wp-switch-editor, .ed_button, .mce-widget button),
.-interface-skeleton__header
    .edit-post-header
    .edit-post-header__settings
    .editor-post-switch-to-draft,
#posts-filter .wp-list-table.widefat .inline-edit-row.inline-edit-save button,
#wpbody-content .metabox-holder .inside button:not(.button-link, .wp-editor-wrap button, .wp-editor-wrap button, .rwmb-meta-box .rwmb-field .rwmb-input .wp-picker-container .button.wp-color-result, .rwmb-field .rwmb-input .wp-picker-container .wp-picker-input-wrap .wp-picker-clear),
#wpbody-content .metabox-holder .inside .button:not(.wp-editor-wrap button, .rwmb-meta-box .rwmb-field .rwmb-input .wp-picker-container .button.wp-color-result, .rwmb-field .rwmb-input .wp-picker-container .wp-picker-input-wrap .wp-picker-clear),
#wpbody-content .metabox-holder .inside input[type="submit"],
#wpbody-content
    .metabox-holder
    .postbox-header
    + .inside
    button:not(.button-link, .wp-editor-wrap button, .wp-editor-wrap button, .rwmb-meta-box .rwmb-field .rwmb-input .wp-picker-container .button.wp-color-result, .rwmb-field .rwmb-input .wp-picker-container .wp-picker-input-wrap .wp-picker-clear),
#wpbody-content .metabox-holder .postbox-header+.inside .button:not(.wp-editor-wrap button, .rwmb-meta-box .rwmb-field .rwmb-input .wp-picker-container .button.wp-color-result, .rwmb-field .rwmb-input .wp-picker-container .wp-picker-input-wrap .wp-picker-clear),
#wpbody-content .metabox-holder .postbox-header + .inside input[type="submit"],
#major-publishing-actions input[type="submit"],
.media-modal .media-frame-toolbar .media-toolbar button,
#post-body-content .image-editor button:not(.imgedit-help-toggle),
#post-body-content .image-editor input[type="button"],
.wp-adminify-page-speed-wrapper .wp-adminify-analyze-button,
#wpbody-content #documentation #docs-lookup,
.wp-list-table.widefat.comments
    .inline-edit-row
    .comment-reply
    .reply-submit-buttons
    button,
&.themes-php #wpbody-content .theme-overlay .theme-actions .button,
&.theme-install-php
    #wpbody-content
    .theme-browser
    .theme
    .theme-actions
    .button,
&.theme-install-php
    #wpbody-content
    .theme-install-overlay
    .wp-full-overlay-header
    .button,
&.theme-install-php #wpbody-content .filter-drawer .buttons .button,
.health-check-body .site-health-view-passed,
.health-check-body .site-health-copy-buttons button,
.privacy-settings-accordion-actions button,
.adminify-copy-btn,
.blocks-widgets-container .block-editor-inserter button:not(.is-pressed,.components-panel__body-toggle),
.popup--delete-history .button.button-primary {
    @include submitfill;
    height: auto;
    &:hover {
        @include submitfillHover;
    }
}


&.themes-php #wpbody-content .theme-browser .theme .theme-actions .button,
.is-secondary:not(.wp-editor-wrap button),
#wpbody-content input[type="submit"]#create-page,
.button-secondary:not(.wp-editor-wrap button),
#wpbody-content #createuser .wp-generate-pw,
#wpbody-content #createuser .wp-hide-pw,
#wpbody-content #your-profile .wp-generate-pw,
#wpbody-content #your-profile .wp-hide-pw,
#wpbody-content .actions input[type="submit"],
#wpbody-content .ac-table-actions .-edit-columns,
#wpbody-content .postbox-container.category-add input[type="button"],
#misc-publishing-actions button,
#wp-media-grid .media-frame .uploader-inline-content button.browser,
.media-modal .media-frame-content button,
.plugin-install-tab-featured
    .plugin-card
    .plugin-card-top
    .button.activate-now,
    .plugin-install-tab-popular
    .plugin-card
    .plugin-card-top
    .button.activate-now,
    .plugin-install-tab-recommended
    .plugin-card
    .plugin-card-top
    .button.activate-now,
    .plugin-install-tab-favorites
    .plugin-card
    .plugin-card-top
    .button.activate-now,
    .plugin-install-tab-search
    .plugin-card
    .plugin-card-top
    .button.activate-now,
&.themes-php .theme-browser .theme:hover.activate,
&.themes-php
    .theme-browser
    .theme.active
    .activate
    &.theme-install-php
    .theme-browser
    .theme:hover.activate,
&.theme-install-php .theme-browser .theme.active .activate,
.plugin-install-tab-featured .plugin-card .plugin-card-top .button,
.plugin-install-tab-popular .plugin-card .plugin-card-top .button,
.plugin-install-tab-recommended .plugin-card .plugin-card-top .button,
.plugin-install-tab-favorites .plugin-card .plugin-card-top .button,
.plugin-install-tab-search .plugin-card .plugin-card-top .button,
#wpbody-content .adminify-section[data-section-id] .button.adminify-edit-gallery,
.popup--delete-history .button {
    @include submittransparent;
    &:hover {
        @include submittransparentHover;
    }
}

#wpbody-content .adminify-section[data-section-id] .adminify-fieldset,
&.nav-menus-php #nav-menus-frame,
#wpbody-content .postbox-container .disable-section-meta div,
#wpbody-content .postbox-container .tabs-panel label,
#wpbody-content #update-themes-table,
#wpbody-content .form-table td,
#wpbody-content .form-table td label,
#wpbody-content #thumbnail_crop,
#wpbody-content #createuser,
&.profile-php #wpbody-content #profile-page #your-profile {
    @include roundcheckFill;
}

@include roundradioFill;

#wpbody-content {
    strong {
        font-weight: $weight700;
    }
    @include roundradioFill;
    input[type="checkbox"],
    #blog_public {
        @include squarecheckbox;
        min-width: inherit;
    }
    .editor-post-visibility__dialog-fieldset .editor-post-visibility__dialog-radio[type=radio]:checked::before {
        transform: translate(0px, 0px);
    }
    #editor .components-popover__content {
        input[type="text"]::placeholder {
            color: #cfcfcf !important;
        }
        .components-form-toggle {
            .components-form-toggle__input{
                @include squarecheckbox;
                height: 18px !important;
                width: 36px !important;
            }
            .components-form-toggle__track{
                left: 0;
                position: absolute;
            }
            .components-form-toggle__thumb {
                background: #cfcfcf;
                border-width: 0;
            }
        }
        .components-form-toggle:not(.is-checked) {
            .components-form-toggle__track{
                background-color: inherit !important;
                border-color: #fff !important;
            }
        }
        .components-dropdown-menu__menu{
            background: #111;
        }
    }
    .notice {
        .button-primary {
            color: $whitecolor;
        }
        .button-link:focus {
            background-color: transparent;
        }
    }
    a.dropdown-item {
        width: auto;
    }
    .button-link {
        background-color: transparent;
        border: 0;
        font-size: inherit;
        font-weight: inherit;
        line-height: $lineheight16 - 2px;
        padding: inherit;
    }
    .button-hero {
        min-height: inherit;
    }
    input:not([type="checkbox"], [type="radio"], [type="hidden"], [type="submit"], [type="button"], [type="number"]),
    textarea {
        @include search_input;
    }
    select {
        @include selectone;
        background-position: right 0 top 55%;
    }
    #posts-filter,
    .search-plugins,
    .search-form {
        margin: 10px 0;
        input[type="text"],
        input[type="search"],
        input[type="url"] {
            @include search_input;
            &#plugin-search-input {
                background-color: $whitecolor;
            }
        }
    }
    .search-form .search-box {
        margin: 0;
    }
    .wp-list-table.widefat .inline-edit-save button.cancel,
    .comment-reply .reply-submit-buttons button.cancel,
    .widget-control-actions .button-link.widget-control-close,
    .wp-adminify-dialog-cancel.wp-adminify-dialog-confirm-cancel {
        background-color: $reddark;
        border-color: $reddark;
        border-radius: $radius6p;
        color: $whitecolor;
        @include font14_600;
        &:hover {
            background-color: $whitecolor;
            color: $reddark;
        }
    }
    .bulk-actions {
        label {
            background-color: transparent;
            border: 0;
            margin: 0;
            padding: 0;
        }
        input.menu-items-delete.disabled {
            display: block;
            padding: 0;
        }
    }
    .nav-tab-wrapper {
        .nav-tab {
            color: $titlecolor;
        }
        .nav-tab-active {
            color: $primarycolor;
        }
    }
}

#wpbody-content #post-body-content #titlewrap input,
#wpbody-content .wp_attachment_details.edit-form-section .widefat,
#wpbody-content .wp_attachment_details.edit-form-section .wp-editor-area {
    background-color: $whitecolor;
    border: 1px solid $whitegray;
    border-radius: $radius6p;
    color: $titlecolor;
    @include font14_400;
    line-height: $lineheight20;
    height: auto;
    padding: 8px 1rem;
}
.adminify-copy-btn {
    .icon {
        font-size: $fontsize + 2px;
        height: auto;
        width: auto;
        line-height: 1;
        margin: 0;
        &:before {
            line-height: $lineheight20 + $lineheight16 - 4px;
        }
    }
}
&.adminify-ui{
    .clear-button,
    #wpbody-content .interface-interface-skeleton__body{
        .components-panel .components-panel__body{
            button.is-destructive {
                border-color: $reddark !important;
                background-color: transparent !important;
                color: $reddark !important;
                font-size: $fontsize - 2px;
                line-height: $lineheight16 + 2px !important;
                padding: 7px 10px !important;
                &:hover {
                    background-color: $reddark !important;
                    color: $whitecolor !important;
                }
            }
        }
    }
    #wpbody-content .interface-interface-skeleton__body {
        .components-panel .components-panel__body {
            button.is-destructive {
                line-height: $lineheight20 + $lineheight16 - 2px !important;
                padding: 0 10px !important;
            }
        }
        .button-hero {
            min-height: inherit;
        }
    }
}

hr {
    border-top: 1px solid $whitegray;
    border-bottom: 0;
    display: inline-block;
    width: 100%;
}
.adminify-compability {
    border-radius: $radius6p - 3px;
    color: $whitecolor;
    float: left;
    font-size: 0;
    height: 20px;
    width: 20px;
    margin-right: 10px;
    position: relative;
    .dashicons {
        font-size: $fontsize + 4px;
        line-height: $lineheight20;
    }
    &.enable {
        .dashicons {
            font-size: $fontsize + 2px;
            &:before {
                content: "\f15e";
            }
        }
    }
}
.enable {
    background: $greencolor;
}
.disable {
    background: $reddark;
}
.dashicons:before {
    font-family: dashicons;
}

// Theme / Plugin Editor right sidebar

#templateside {
    li {
        background-color: $whitecolor;
        color: $black;
        font-size: $fontsize - 1px;
        line-height: $lineheight20;
        a {
            color: $primarycolor;
            .nonessential {
                color: $blackmuted;
                @include font12;
                line-height: $lineheight16;
            }
        }
        .notice {
            background-color: $graycolor;
            border-radius: 0;
        }
    }
}

&.adminify-default-v-menu #adminmenu .wp_adminify_admin-menu li.wp-not-current-submenu .wp-submenu,
#wpbody-content .card,
.wp-adminify_page_adminify-custom-css-js .adminify-field.adminify-field-group,
.wp-adminify-top-header--search--form .top-header-search-results,
#wpadminify-admin-columns .tabs.is-centered + .tab-content,
#wpadminify-admin-columns .tabs.is-centered + .tab-content .tab-content .admin-column-accordion,
.adminify-options.wp-adminify-settings .adminify-container,
.wp-adminify-dashboard-widgets .adminify-field + .adminify-field,
.adminify-section .chosen-drop,
&.modal-open #wp-link-wrap,
&.appearance_page_custom-background .form-table #custom-background-image,
&.nav-menus-php #menu-locations-wrap table.widefat,
#wpbody-content .wp-list-table.widefat,
#wpbody-content #post-body-content #post-status-info,
#wpbody-content .postbox,
#wpbody-content #update-themes-table,
&.options-general-php .wrap form,
&.options-writing-php .wrap form,
&.options-reading-php .wrap form,
&.options-discussion-php .wrap form,
&.options-media-php .wrap form,
&.options-permalink-php .wrap form,
#wpbody-content .privacy-settings-accordion-heading,
#wpbody-content .privacy-settings-accordion-panel,
.media-modal .media-modal-content,
#wpbody-content .image-editor .imgedit-group,
.wp-adminify_page_adminify-menu-editor .selector-popup-wrap.icons-selector .selector-popup,
.wp-adminify--menu--editor--settings .accordion.adminify_menu_item,
.wp-adminify--popup-container_inner,
.wp-adminify-page-speed-wrapper .tab-content,
.theme-install-php #wpbody-content .upload-theme .wp-upload-form,
#wpbody-content .wp-filter .filter-drawer .filter-group,
&.themes-php #wpbody-content .theme-overlay .theme-wrap,
&.themes-php #wpbody-content .theme-overlay .screenshot,
#wpbody-content .health-check-accordion .health-check-accordion-heading,
#wpbody-content .health-check-accordion .health-check-accordion-panel,
.editwidget .widget-inside,
.editwidget table.widefat,
.adminify-server-info .adminify-tabbed-contents,
#PHPinfo table.widefat,
#MYSQLinfo table.widefat,
#wpbody-content .widefat.updates-table,
#adminify-pto-media,
.upload-plugin .wp-upload-form,
.upload-theme .wp-upload-form,
&.comment-php #wpbody-content #poststuff .stuffbox,
#createuser,
#your-profile,
.wp-adminify--folder-widget .wp-adminify--folder-app--inner,
.blocks-widgets-container .wp-block-widget-area
{
        @include postboxreset;
}

#site-editor {
    .edit-site-header__toolbar {
        .edit-site-header-toolbar__inserter-toggle.has-icon{
            padding: 0 !important;
        }
    }
}
// Switch

.admnify-switcher {
    display: inline-block;
    height: 20px;
    width: 36px;
    margin-top: -1px;
    position: relative;
    input {
        height: 0;
        width: 0;
        opacity: 0;
        &:checked + .slider:before {
            transform: translateX(16px);
        }
    }
    .slider {
        background-color: $whitegray;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        transition: 0.4s;
        &.round {
            border-radius: $radius6p + 10px;
            &:before {
                border-radius: 50%;
            }
        }
        &:before {
            content: "";
            background: $whitecolor;
            height: 18px;
            width: 18px;
            left: 1px;
            bottom: 1px;
            position: absolute;
            transition: 0.4s;
        }
    }
}

.fade {
    opacity: 0;
    transition: opacity 0.35s linear;
}

.fade.active {
    opacity: 1;
}
.collapse:not(.show) {
    display: none;
}
.collapsing {
    height: 0;
    overflow: hidden;
    transition: height 0.35s ease;
}
.fs-secure-notice {
    margin: 20px 20px 0 0;
    position: inherit;
}
.fs-submenu-item.adminify {
    font-size: $fontsize;
    &.upgrade-mode {
        color: #df3b25;
        font-weight: 800;
    }
    &.pricing {
        color: $fast;
        font-weight: 800;
    }
}
.fs-modal .fs-modal-header {
    background-color: $primarycolor;
}

.tab-content > .active {
    display: block;
}

&.sticky-menu #adminmenuwrap {
    position: relative;
}
#screen-meta {
    border: 1px solid $whitegray;
    border-top: 0;
    margin: 0 15px -1px 15px;
    #adv-settings {
        input[type="checkbox"] {
            &:before {
                position: absolute;
            }
        }
    }
    #screen-options-wrap input#edit_post_per_page {
        min-width: 5rem;
    }
}
#screen-meta-links {
    margin: 0;
    button {
        background-color: $whitecolor;
        border: 1px solid $whitegray;
        border-top: 0;
        border-radius: $radius6p;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        box-shadow: none;
        color: $blackcolor;
        @include font14_400;
        line-height: $lineheight20 + $lineheight16 - 2px;
        margin-bottom: 20px;
        padding: 0 10px 0 17px;
        &:after {
            bottom: 8px;
        }
        &:focus {
            border-color: $whitegray;
        }
    }
    + .blocks-widgets-container {
        top: 40px;
    }
}
#contextual-help-back {
    border: 0;
}
.contextual-help-tabs {
    .active {
        border-left-color: $primarycolor;
    }
    a {
        border: 0;
        color: $titlecolor;
        @include font14_400;
        line-height: $lineheight20;
    }
}
#tab-panel-overview {
    p {
        color: $blackmuted;
    }
}

.count {
    font-family: "no-parens", sans-serif;
}

#file-editor-warning {
    .file-editor-warning-content {
        h1 {
            color: $blackcolor;
        }
        p {
            color: $blackcolor;
            .button {
                border-radius: $radius6p;
                color: $whitecolor;
                @include font14_600;
                letter-spacing: 0.25px;
                line-height: $lineheight20 + $lineheight16 - 2px;
                padding: 0 1rem;
                &.file-editor-warning-go-back {
                    background-color: $reddark;
                    border: 1px solid $reddark;
                }
            }
        }
    }
}
&.php-error {
    #adminmenuback,
    #adminmenuwrap {
        margin-top: 0;
    }
}
.components-button.is-primary:disabled,
.components-button.is-primary:disabled:active:enabled,
.components-button.is-primary[aria-disabled=true],
.components-button.is-primary[aria-disabled=true]:active:enabled,
.components-button.is-primary[aria-disabled=true]:enabled {
    background-color: $primarycolor;
    border-color: $primarycolor;
    &:hover {
        background-color: $primarycolor;
        color: $whitecolor;
    }
}
#wpfooter {
    clear: both;
    font-size: $fontsize;
    position: inherit;
    .adminify-first-child {
        float: left;
        width: 25%;
    }
    .adminify-last-child {
        float: right;
        width: 75%;
        .column {
            display: inline-block;
            margin-left: 1.25rem;
            &:first-child {
                margin-left: 0;
            }
        }
    }
    .wp-adminify {
        .columns {
            margin: 0;
        }
        .column {
            padding: 0;
        }
    }
}
&.appearance_page_gutenberg-widgets #wpbody-content>div:not(.blocks-widgets-container):not(#screen-meta),
&.appearance_page_gutenberg-widgets #wpfooter,
&.widgets-php #wpbody-content>div:not(.blocks-widgets-container):not(#screen-meta),
&.widgets-php #wpfooter {
    display: block;
}
&.appearance_page_gutenberg-widgets #wpcontent, &.widgets-php #wpcontent {
    padding-left: 15px;
}
.wp-adminify-review-notice .wp-adminify-review-ul li a span {
    position: static;
}
#wpbody-content {
    #editor {
        .block-editor-block-inspector {
            input[type=checkbox] {
                height: 100% !important;
                width: 100% !important;
                position: absolute !important;
            }
        }
    }
}
.wp-adminify--popup-area {
    background-color: rgba($color: #000000, $alpha: 0.75);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    position: fixed;
    z-index: -1;

    transition: opacity 0.3s ease-in-out;
    .wp-adminify--popup-container_inner {
        max-width: 600px;
        margin: 0 auto;
        padding: 1.875rem;
        position: relative;
    }
    .wp-adminify--popup-close {
        color: $reddark;
        top: .5rem;
        right: 1rem;
        position: absolute;
        .dashicons {
            font-size: 1.875rem;
        }
    }
}
&.wp-adminify--popup-show {
    .wp-adminify--popup-area {
        opacity: 1;
        z-index: 9999;
    }
}
&.post-type-attachment {
    table.media .column-title .media-icon img {
        width: auto;
        max-height: 60px;
    }
}