@use "sass:math";


.welcome-panel-header{
    a{
        color: $white !important;
    }
}
#dashboard-widgets .meta-box-sortables {
    margin: 0 10px 20px;
}

#wpbody-content {
    .metabox-holder {
        .postbox-container {
            .postbox-header + .inside {
                button:not(.button-link, .rwmb-meta-box .rwmb-field .rwmb-input .wp-picker-container .button.wp-color-result),
                .button:not(.rwmb-meta-box .rwmb-field .rwmb-input .wp-picker-container .button.wp-color-result),
                input[type="submit"],
                .adminify-icon-select button:not(.button-link),
                .adminify-icon-select .button,
                .adminify-icon-select input[type="submit"] {
                    line-height: $lineheight20 + 8px !important;
                    padding: 0 10px !important;
                    &:hover {
                        @include submitfillHover;
                    }
                }
            }
        }
        .postbox {
            .postbox-header {
                border: 0;
            }
            .inside {
                border-top: 1px solid $whitegray;
            }
            #description-wrap {
                margin-top: 3px;
            }
            h2.hndle {
                padding: 13px 16px;
            }
            .inside {
                margin: 0;
                padding: 16px;
            }
            &#dashboard_quick_press {
                form {
                    margin: 4px 12px 12px;
                }
                .inside {
                    margin: 0;
                    padding: 16px;
                }
                label {
                    color: $titlecolor;
                    font-size: $fontsize - 1px;
                }
                input,
                textarea {
                    margin: 8px 0;
                    &[type="submit"] {
                        margin: 4px 0;
                    }
                }
                textarea {
                    padding: 0.75rem 1rem;
                }
                .drafts {
                    color: $blackcolor;
                    @include font14_400;
                    line-height: $lineheight20;
                    padding-top: 15px;
                    a {
                        color: $primarycolor;
                    }
                    ul {
                        li {
                            margin-bottom: 0;
                            p {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
        .handle-actions {
            padding-right: 13px;
            button {
                background-color: transparent;
                border: none;
                line-height: 1;
                padding: 0;
                width: 30px;
                span {
                    color: $blackcolor;
                    &:before {
                        font-size: $fontsize + 2px;
                    }
                }
            }
        }
    }

    .welcome-panel-close {
        color: $redlight;
    }

    // At a glance

    #dashboard_right_now {
        .main {
            padding: 0;
        }
        ul {
            border-bottom: 1px solid $whitegray;
            @include displaycenter;
            margin: 0 0 1rem;
            li {
                float: none;
                width: auto;
                margin-bottom: 0;
                padding: 0 15px 15px;
                a {
                    display: block;
                    color: $primarycolor;
                    display: flex;
                    justify-content: center;
                    font-size: $fontsize - 2px;
                    line-height: $lineheight16;
                    padding-top: 2rem;
                    position: relative;
                    &:before {
                        content: "";
                        height: 12px;
                        width: 12px;
                        margin: 2px 4px 0 0;
                        background-size: 10.5px;
                        filter: brightness(1) saturate(7);
                        padding: 0;
                    }
                    span:before {
                        display: none;
                    }
                    .counter {
                        color: $blackcolor;
                        font-size: $fontsize + 10px;
                        line-height: $lineheight20 + $lineheight16 - 4px;
                        top: 0;
                        left: 50%;
                        position: absolute;
                    }
                }
                &.post-count {
                    a:before {
                        background: url(../images/widgets/posts.svg) center
                            no-repeat;
                    }
                }
                &.page-count {
                    a:before {
                        background: url(../images/widgets/pages.svg) center
                            no-repeat;
                    }
                }
                &.comment-count {
                    a:before {
                        background: url(../images/widgets/comment.svg) center
                            no-repeat;
                        background-size: 12px;
                    }
                }
                &.plugin-count {
                    a:before {
                        background: url(../images/widgets/plugins.svg) center
                            no-repeat;
                    }
                }
            }
        }
        #wp-version-message {
            margin-bottom: 0;
        }
        #wp-version {
            color: $blackcolor;
            font-weight: $weight400;
            a {
                font-weight: $weight600;
            }
        }
    }

    // Events and mews

    #dashboard_primary {
        .inside {
            @include insidepadding;
            .community-events {
                padding: 0;
            }
            .activity-block {
                border-bottom-color: $whitegray;
                margin: 0;
                // padding: 15px 0;
                p {
                    color: $blackcolor;
                    @include font14_400;
                    line-height: $lineheight20;
                    button {
                        color: $primarycolor;
                    }
                }
            }
            .wordpress-news {
                margin: 15px 0;
            }
            .rss-widget {
                padding: 0;
                ul {
                    li {
                        padding: 5px 0;
                        a {
                            color: $primarycolor;
                            @include font14_600;
                            line-height: $lineheight20;
                        }
                    }
                }
            }
            .dashicons {
                font-size: $fontsize + 1px;
                float: left;
                height: auto;
                width: auto;
                margin-right: 7px;
            }
            .community-events-footer {
                font-size: 0;
                margin-bottom: 0;
                padding: 17px 0 2px;
                a {
                    display: inline-block;
                    @include font14_700;
                    padding-right: 0.75rem;
                    &:last-child {
                        padding-right: 0;
                    }
                }
            }
        }
    }

    // Dashboard Activity

    #dashboard_activity {
        .inside {
            padding: 0 1rem 6px;
        }
        #activity-widget {
            padding: 10px 0 8px;
            .activity-block {
                border-bottom-color: $whitegray;
                margin: 0;
                padding: 6px 0;
                h3 {
                    color: $blackcolor;
                    font-size: $fontsize - 1px;
                    margin: 0 0 3px;
                }
                ul {
                    margin: 0;
                    li {
                        span {
                            color: $blackmuted;
                            font-size: 14px;
                        }
                        a {
                            color: $primarycolor;
                            @include font14_400;
                        }
                    }
                }
            }

            // Latest comments

            #latest-comments {
                h3 {
                    margin: 9px 0 5px;
                }
                ul {
                    li {
                        &.comment-item {
                            background: none;
                            box-shadow: none;
                            min-height: auto;
                            padding: 0;
                        }
                        .comment-meta,
                        blockquote p {
                            font-size: $fontsize - 1px;
                            line-height: $lineheight16;
                            a {
                                font-size: $fontsize - 1px;
                            }
                        }
                        blockquote p {
                            color: $blackcolor;
                        }
                        .comment-meta {
                            color: $blackmuted;
                            margin-bottom: 3px;
                        }
                        .row-actions {
                            left: 0;
                            margin: 10px 0 13px;
                            span {
                                color: $primarycolor;
                                font-size: 0;
                                a {
                                    color: $primarycolor;
                                    font-size: $fontsize - 1px;
                                    display: inline-block;
                                    padding-right: 12px;
                                    max-width: inherit;
                                    width: auto;
                                }
                                &.unapprove {
                                    color: $redlight;
                                    a {
                                        color: $redlight;
                                    }
                                }
                                &.spam,
                                &.trash {
                                    color: $reddark;
                                    a {
                                        color: $reddark;
                                    }
                                }
                            }
                        }
                    }
                }
                .subsubsub {
                    padding-top: 16px;
                    li {
                        a {
                            border-radius: $radius6p - 3px;
                            color: $blackcolor;
                            font-size: $fontsize - 2px;
                            font-weight: $weight600;
                            line-height: $lineheight16;
                            margin: 0 3px 5px 0;
                            // padding: 7px 10px;
                            padding: 3px;
                            .count {
                                background-color: $blackcolor;
                                border-radius: 15px;
                                height: 12px;
                                line-height: 10px;
                                margin-top: 2px;
                                padding: 0 3px;
                            }
                            span[class*="-count"] {
                                color: $whitecolor;
                                font-size: $fontsize - 4px;
                            }
                        }
                    }
                }
            }
        }
    }

    // Site health

    #dashboard_site_health {
        .health-check-widget {
            display: block;
        }
        .health-check-widget-title-section {
            margin-top: 7px;
            .site-health-progress {
                height: 44px;
                width: 44px;
                svg {
                    circle {
                        stroke: $whitegray;
                    }
                }
            }
            .site-health-progress-label {
                color: $greencolor;
                font-size: 14px;
                font-weight: 400;
                margin-left: 12px;
            }
            #bar {
                stroke: $greencolor;
                &.orange {
                    stroke: $yellowlight;
                }
            }
            &.orange {
                #bar {
                    stroke: $yellowlight;
                }
                .site-health-progress-label {
                    color: $yellowlight;
                }
            }
        }
        p {
            color: $blackmuted;
            strong {
                color: $blackmuted;
                font-weight: $weight400;
            }
            a {
                font-weight: $weight600;
            }
        }
    }

    // User activities

    #jltwp_adminify_dash_user_activities,
    #jltwp_adminify_dash_activity_logs,
    #jltwp_adminify_dash_recent_posts {
        table {
            width: 100%;
            th {
                color: $titlecolor;
                @include font14_600;
                line-height: $lineheight20;
            }
            tr,
            td {
                color: $titlecolor;
                font-size: $fontsize - 2px;
                line-height: $lineheight16;
                text-align: left;
                vertical-align: top;
            }
            tr {
                td {
                    border-bottom: 1px solid $whitegray;
                    word-break: break-all;
                }
                &:last-child {
                    td {
                        border-bottom: 0;
                    }
                }
            }
            th {
                border-bottom: 1px solid $whitegray;
                @include font14_600;
                text-align: left;
            }
        }
    }
    #jltwp_adminify_dash_user_activities,
    #jltwp_adminify_dash_activity_logs {
        .inside {
            padding: 0;
        }
        table {
            tr,
            td,
            th {
                padding: 10px 5px 10px 10px;
            }
        }
        .user-status {
            border: 2px solid $whitecolor;
            border-radius: 50%;
            top: 0;
            right: 0;
            position: absolute;
        }
        .wp-adminify-user-name {
            color: $titlecolor;
        }
    }

    #jltwp_adminify_dash_user_activities {
        table {
            tr,
            td,
            th {
                vertical-align: middle;
            }
        }
        .media {
            align-items: center;
        }
        .wp-adminify-user-avatar {
            margin-right: 10px;
            position: relative;
            img {
                height: 48px;
                width: 48px;
            }
            .user-status {
                border-radius: 50%;
                height: 10px;
                width: 10px;
            }
        }
        .logged-in {
            background-color: $greencolor;
            color: $whitecolor;
        }
        .logged-out {
            background-color: $blackborder;
            color: $blackplaceholder;
        }
        .wp-adminify-user-name {
            color: $titlecolor;
            font-size: $fontsize - 1px;
            font-weight: $weight600;
            line-height: 1;
            margin: 0 0 5px;
        }
        .user-status-text {
            border-radius: $radius6p - 4px;
            display: inline-block;
            font-size: $fontsize - 3px;
            font-weight: $weight600;
            line-height: math.div($lineheight20, 2);
            padding: 2px 3px;
        }
        .wp-adminify-user-time-tracker {
            time {
                color: $blackplaceholder;
                font-size: $fontsize - 2px;
                line-height: $lineheight16;
                span {
                    max-width: 85px;
                }
            }
        }
    }

    // User activity Log

    #jltwp_adminify_dash_activity_logs {
        table {
            tr,
            td,
            th {
                vertical-align: top;
            }
            td {
                &:last-child {
                    max-width: 125px;
                    word-break: break-word;
                }
            }
            .wp-adminify-user-avatar {
                float: left;
                margin-right: 0.5rem;
                position: relative;
                img {
                    height: 36px;
                    width: 36px;
                }
                .user-status {
                    background-color: $greencolor;
                    height: 8px;
                    width: 8px;
                }
            }
            .wp-adminify-user-name {
                font-size: $fontsize - 1px;
                font-weight: $weight400;
                margin: 7px 0 0;
                text-transform: capitalize;
            }
            .wp-adminify-user-details {
                clear: both;
                display: inline-block;
                font-size: $fontsize - 2px;
                line-height: $lineheight16;
                span {
                    color: $blackplaceholder;
                    display: block;
                    time {
                        color: $blackplaceholder;
                    }
                }
                .wp-adminify-user-last-logout {
                    font-size: $fontsize - 3px;
                }
            }
        }
    }

    // Recent Posts

    #jltwp_adminify_dash_recent_posts {
        .inside {
            padding: 0;
        }
        table {
            tr,
            th,
            td {
                padding: 12px;
            }
            th {
                img {
                    float: left;
                    height: 13.5px;
                    width: 13.5px;
                    margin-top: 2.5px;
                }
            }
            .adminify-author-avatar {
                border-radius: $radius6p;
                height: 36px;
                width: 36px;
                margin-right: 10px;
            }
            .adminify-post-title {
                font-size: $fontsize - 1px;
                line-height: $lineheight16;
            }
            .adminify-post-time {
                color: $blackplaceholder;
                display: block;
                font-size: $fontsize - 3px;
                line-height: $lineheight16 - 4px;
            }
            .adminify-author-name,
            .adminify-post-category,
            .adminify-post-comments {
                color: $blackcolor;
                font-size: $fontsize - 2px;
                line-height: $lineheight16;
                margin: 0;
                a {
                    color: $blackcolor;
                    font-weight: $weight400;
                }
            }
        }
    }

    // System Info

    #jltwp_adminify_dash_system_info {
        .inside {
            padding: 0;
        }
    }

    // Server Uptime

    #jltwp_adminify_dash_server_uptime {
        .inside {
            padding: 1.25rem;
        }
        .adminify-title {
            color: $titlecolor;
            @include font14_600;
            line-height: $lineheight20;
            margin: 0 0 0.5rem;
        }
        .adminify-realtime-chart {
            height: 120px;
            width: 120px;
            margin: 0 auto;
            &:after {
                content: attr(data-percent);
                color: $blackcolor;
                font-size: $fontsize + 4px;
                font-weight: $weight700;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            .adminify-progress-bar {
                transform: rotate(-90deg) rotateX(180deg);
                circle {
                    stroke-dashoffset: 0;
                    transition: stroke-dashoffset 1s ease;
                    stroke: #00ba88;
                    stroke-width: 12px;
                }
                .adminify-bar {
                    stroke: #f9f9f9;
                }
            }
        }
        .adminify-server-uptime {
            .adminify-title {
                font-size: $fontsize + 4px;
            }
        }
        .adminify-uptime-counter {
            ul {
                margin: 0 auto;
            }
            li {
                flex-basis: 25%;
                max-width: 74px;
                margin: 6px;
                &:last-child {
                    span[id*="adminify-"]::after {
                        display: none;
                    }
                }
            }
            span[id*="adminify-"] {
                background-color: $primarycolor;
                color: $whitecolor;
                display: inline-block;
                font-size: $fontsize + 10px;
                line-height: $lineheight20 * 4 - 6px;
                height: 74px;
                position: relative;
                width: 100%;
                &:after {
                    content: ":";
                    color: $blackcolor;
                    height: 100%;
                    top: 0;
                    right: -9px;
                    position: absolute;
                }
            }
            .adminify-countdown-title {
                background-color: $primarylight;
                box-sizing: border-box;
                color: $titlecolor;
                font-size: $fontsize - 4px;
                font-weight: $weight700;
                line-height: $lineheight16 - 4px;
                margin-top: 2px;
                padding: 5px;
            }
        }
    }

    // Memory Usage

    #jltwp_adminify_memory_usage {
        .inside {
            padding: 0 0 5px;
        }
        .halfspace {
            border-bottom: 1px solid $whitegray;
            color: $titlecolor;
            font-size: $fontsize - 2px;
            font-weight: $weight600;
            line-height: $lineheight16;
            margin: 0;
            padding: 0.75rem 1.125rem;
            span {
                color: $placeholder;
                font-size: $fontsize - 2px;
                float: left;
                font-weight: $weight400;
                padding-left: 0;
                width: 60%;
            }
            p {
                display: inline-block;
                font-size: $fontsize - 1px;
                margin: 0;
                padding-left: 0;
                width: 100%;
            }
            br {
                clear: both;
            }
            &:last-child {
                border-bottom: 0;
            }
        }
        p.halfspace {
            display: flex;
            align-items: center;
        }
        .spacedark {
            color: $placeholder;
            line-height: $lineheight20;
        }
        div.halfspace {
            .spacedark {
                color: $blackmuted;
                padding-left: 15px;
                width: calc(60% - 15px);
            }
            p .spacedark {
                color: $placeholder;
                padding-left: 0;
            }
        }
    }

    .col-wrap h2 {
        color: $black;
        @include font20_700;
        line-height: $lineheight20 + 12px;
    }

    // Theme update table

    #update-themes-table {
        .check-column {
            width: 1rem;
            input {
                margin-left: 0;
            }
        }
        td,
        th {
            border-bottom: 1px solid $whitegray;
            box-shadow: none;
            p {
                color: $blackcolor;
                font-size: $fontsize;
                line-height: $lineheight20;
            }
        }
        tfoot {
            tr,
            td {
                border: 0;
            }
        }
    }

    // Updates

    .widefat.updates-table {
        margin-top: 4rem;
        p {
            margin: 0;
        }
        img {
            height: auto;
        }
        tr {
            td {
                border-bottom: 1px solid $whitegray;
                box-shadow: none;
                padding: 15px 17px;
                &.check-column {
                    input[type="checkbox"] {
                        margin-top: 2px;
                    }
                }
            }
        }
        thead {
            td {
                border-bottom: 1px solid $whitegray;
                color: $titlecolor;
            }
        }
        tfoot {
            td {
                border-top: 0;
            }
        }
    }

    .wp-adminify-server-info,
    .adminify-server-info {
        table {
            width: 100%;
        }
        th {
            border-bottom: 1px solid $whitegray;
        }
        tr {
            color: $blackcolor;
            font-size: $fontsize - 2px;
            font-weight: $weight400;
            line-height: $lineheight16;
            position: relative;
            text-align: left;
            width: 50%;
            td {
                border-bottom: 1px solid $whitegray;
                display: table-cell;
                padding: 15px;
                &:first-child {
                    width: 55%;
                }
            }
            a {
                color: $primarycolor;
            }
            strong {
                color: $titlecolor;
                font-weight: $weight600;
            }
        }
        tbody {
            tr:last-child {
                td {
                    border-bottom: 0;
                    height: 47px;
                    a {
                        position: absolute;
                    }
                }
            }
        }
        .adminify-system-progress {
            display: flex;
            align-items: center;
            margin-top: 10px;
        }
        .status-progressbar {
            background-color: #cfcfcf;
            height: 5px;
            width: 96px;
            left: 0;
            position: relative;
            span {
                background-color: $primarycolor;
                border-radius: $radius6p - 3px;
                color: $whitecolor;
                font-size: $fontsize - 2px;
                bottom: -6px;
                left: 101px;
                min-width: 40px;
                padding: 2px 6px;
                position: absolute;
            }
            div {
                background-color: $primarycolor;
                height: 100%;
                top: 0;
                left: 0;
                position: absolute;
            }
            .dashicons {
                float: left;
            }
        }
        .dashicons {
            font-size: $fontsize + 4px;
            margin: 0 3px 0 0;
        }
    }
    #master-addons-news-feed {
        .postbox-header .hndle {
            justify-content: flex-start;
        }
        .master-addons-posts {
            padding: 5px 15px;
            p {
                margin: 10px 0;
            }
        }
    }
    #master-addons-news-feed,
    #jltwp_adminify_dash_news_feed {
        .inside {
            padding: 0;
        }
        ul {
            margin: 0;
            padding: 15px;
            width: 100%;
        }
        li {
            &:last-child {
                margin-bottom: 0;
            }
            a {
                @include font14_600;
                line-height: $lineheight20;
                .dashicons {
                    font-size: $fontsize + 2px;
                    height: inherit;
                    width: inherit;
                }
            }
            &.wp-adminify_overview__go-pro {
                a {
                    color: $average;
                }
            }
        }
    }
    #master-addons-news-feed .master-addons-dashboard_footer,
    #jltwp_adminify_dash_news_feed .wp-adminify-news-feed-dashboard_footer {
        border-top: 1px solid $whitegray;
        margin: 0;
        padding: 0;
        li {
            margin-bottom: 0;
            a {
                font-weight: $weight700;
                line-height: $lineheight16;
            }
        }
    }
}

&.update-core-php {
    h2 {
        margin-top: 2.5rem;
    }
    p {
        color: $titlecolor;
        margin: 0 0 10px;
    }
    table {
        margin-bottom: 1.5rem;
    }
}
#PHPinfo tbody td a {
    position: relative !important;
}
.wp-adminify-error-logs li {
    font-size: $fontsize - 2px;
}
