// Media contents

#wpbody-content .wp-list-table.widefat.media tbody {
    td {
        vertical-align: top;
    }
    .filename {
        display: none;
    }
    input[type="checkbox"] {
        margin-top: 0;
        position: inherit;
    }
    .row-actions {
        display: inline-block;
        margin: 5px 0 0;
        a {
            font-size: $fontsize - 1px;
        }
        span {
            font-size: 0;
            line-height: 1;
            margin-right: 8px;
            &:last-child {
                margin-right: 0;
            }
        }
        .delete a {
            color: $reddark;
        }
        .view a {
            color: $greencolor;
        }
    }
}

.media-upload-form {
    #drag-drop-area {
        border: 2px dashed $blackplaceholder;
    }
    .drag-drop-inside {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
        min-height: 200px;
        p {
            color: $black;
            font-size: $fontsize + 10px;
            font-weight: $weight700;
            line-height: $lineheight20 + 12px;
            &:nth-child(2) {
                font-size: $fontsize;
                font-weight: $weight400;
                line-height: $lineheight20;
            }
        }
        #plupload-browse-button {
            background-color: transparent;
            border: 1px solid $primarycolor;
            color: $primarycolor;
            height: auto;
            min-width: 10rem;
            &:hover {
                background-color: $primarycolor;
                color: $whitecolor;
            }
        }
    }
    .upload-flash-bypass,
    .max-upload-size {
        color: $blackcolor;
        font-size: $fontsize;
        font-weight: $weight400;
        line-height: $lineheight20;
    }
    #media-items {
        .media-item {
            box-shadow: none;
            margin-bottom: 0;
            min-height: 44px;
        }
        .pinkynail {
            height: 40px;
            width: 40px;
            max-height: inherit;
        }
        .edit-attachment {
            color: $primarycolor;
            @include font14_600;
            line-height: $lineheight20;
            margin-top: 13px;
        }
        .filename {
            float: left;
            margin-top: 6px;
            .title {
                color: $blackcolor;
                @include font14_400;
                line-height: $lineheight20;
            }
        }
    }
}

.wp_attachment_details {
    input,
    textarea {
        @include content_input;
    }
    .attachment-content-description {
        color: $blackmuted;
    }
}

#misc-publishing-actions {
    color: $blackcolor;
    @include font14_400;
    line-height: $lineheight16;
    a {
        color: $primarycolor;
    }
    #timestamp {
        color: $titlecolor;
        font-size: $fontsize - 1px;
        line-height: $lineheight16;
        b {
            font-size: $fontsize - 1px;
        }
        &:before {
            font-size: $fontsize + 2px;
        }
    }
    label {
        display: block;
        @include font12;
        margin-bottom: 5px;
    }
    input {
        @include content_input;
    }
}

#major-publishing-actions {
    a {
        color: $reddark;
    }
}

#posts-filter {
    .filename {
        color: $blackcolor;
        @include font14_400;
        line-height: $lineheight20;
    }
}

.media-frame-content {
    .wp-filter {
        background-color: transparent;
        border: 0;
        box-shadow: none;
        padding: 0;
        .view-switch {
            margin-left: 0;
            a {
                text-align: left;
                &:before {
                    color: $primarylight3;
                }
                &.current:before {
                    color: $primarycolor;
                }
                &:focus {
                    border: 0;
                    box-shadow: none;
                    outline: 0;
                }
            }
        }
        select {
            @include selectone;
        }
        button {
            background-color: transparent;
            border: 1px solid $blackmuted;
            border-radius: $radius6p;
            color: $blackmuted;
            display: inline-block;
            @include font14_700;
            line-height: $lineheight20;
            min-height: 36px;
            padding: 7px 16px;
        }
    }
}
.media-frame.mode-grid .attachments-browser .attachments {
    margin: 0 -8px;
    padding: 0;
}

#wp-media-grid {
    .media-frame {
        .uploader-inline {
            border: 2px dashed $blackplaceholder;
        }
        .uploader-inline-content {
            h2 {
                font-size: $fontsize + 10px;
                line-height: $lineheight20 + 12px;
            }
            p {
                color: $black;
                @include font14_400;
                line-height: $lineheight20;
            }
            button.browser {
                min-height: inherit;
                padding: 7px 2.5rem;
            }
        }
        .attachments-browser {
            .attachments {
                li {
                    &:focus {
                        border: 0;
                        box-shadow: none;
                        outline: 0;
                    }
                }
            }
        }
    }
}

.media-modal {
    .media-modal-close {
        color: $slow;
        height: 50px;
        padding: 0;
        &:focus {
            border: 0;
        }
    }
    .media-frame-router {
        .media-router {
            .media-menu-item {
                background-color: transparent;
                border: 1px solid transparent;
                border-bottom-width: 0;
                border-radius: 0;
                border-top-left-radius: $radius6p;
                border-top-right-radius: $radius6p;
                color: $titlecolor;
                @include font14_600;
                height: auto;
                line-height: $lineheight20 + $lineheight16;
                margin: 0;
                padding: 0 0.875rem;
                &.active {
                    background-color: $primarycolor;
                    border-color: $primarycolor;
                    color: $whitecolor;
                }
            }
        }
    }
    .media-frame-tab-panel {
        .media-frame-content {
            top: 85px;
            .media-sidebar .details {
                padding: 12px 0;
            }
            .attachment-info {
                margin-bottom: 12px;
                padding-bottom: 0;
            }
        }
        &[aria-labelledby="menu-item-gallery-edit"] {
            .media-frame-content {
                top: 55px;
            }
        }
    }
    .media-frame-content {
        border-top: 1px solid $lightgray;
        top: 50px;
        select {
            @include selectone;
        }
        .details-image {
            border-radius: $radius6p;
        }
        button {
            min-height: inherit;
            &.button-small {
                font-size: $fontsize - 1px;
                padding: 0 10px;
            }
        }
        .attachments {
            li {
                padding: 12px;
                &:focus {
                    box-shadow: none;
                    outline: 0;
                    outline-offset: 0;
                }
                button {
                    border: 0;
                    border-radius: $radius6p - 3px;
                    box-shadow: none;
                }
                &.selected {
                    border: 0;
                    box-shadow: inset 0 0 0 3px $whitecolor,
                        inset 0 0 0 7px $primarycolor;
                    button.check {
                        background-color: $primarycolor !important;
                        box-shadow: none !important;
                        padding: 0 !important;
                        .media-modal-icon {
                            background-position: -21px 0;
                        }
                    }
                }
                &.attachment .attachment-close {
                    background-color: $primarycolor;
                    background-size: 112px 15px;
                    padding: 0;
                    &:hover {
                        background-color: $redlight;
                        background-position: -46px 4px;
                    }
                }
            }
        }
        .media-sidebar {
            background-color: $whitecolor;
            width: 285px;
            .setting {
                padding-left: 0;
                padding-right: 0;
            }
            .description {
                color: $blackmuted;
                font-size: $fontsize - 1px;
            }
            a {
                color: $primarycolor;
            }
            label {
                color: $titlecolor;
                @include font14_600;
            }
            .compat-item {
                label,
                .alignleft {
                    text-align: left;
                }
            }
            input#gallery-settings-random-order {
                @include squarecheckbox;
                margin-top: -6px;
                min-width: inherit;
            }
            .collection-settings.gallery-settings {
                .setting {
                    display: flex;
                    align-items: center;
                    label {
                        height: auto;
                        width: auto;
                        max-width: inherit;
                        padding-top: 0;
                    }
                }
            }
        }
        .imgedit-wrap .imgedit-settings {
            background-color: $whitecolor;
            width: 282px;
            .imgedit-group {
                h2,p,legend,label {
                    color: $titlecolor;
                }
            }
        }
        .attachment-info {
            background-color: $whitecolor;
            a {
                color: $primarycolor;
                display: inline-block;
            }
            .edit-attachment {
                @include font14_600;
                line-height: $lineheight20;
                margin: 8px 0;
            }
            input,
            textarea,
            .copy-to-clipboard-container {
                margin-bottom: 15px;
            }
            a {
                color: $primarycolor;
            }

            label, 
            .details {
                color: $titlecolor;
                font-size: $fontsize - 1px;
                line-height: $lineheight20;
                text-align: left;
            }
            .details div {
                padding: 3px 0;
            }
            p {
                color: $titlecolor;
                font-size: $fontsize - 1px;
                &.media-types-required-info {
                    margin-left: 35%;
                }
            }
            input,
            textarea,
            .filename {
                color: $titlecolor;
            }
            .alignleft {
                color: $titlecolor;
                text-align: left;
            }
        }
        .settings-save-status {
            right: 20px;
            top: 20px;
            position: absolute;
        }
        .settings,
        .setting {
            border-bottom: 1px solid $lightgray;
            color: $blackcolor;
            display: block;
            font-size: $fontsize - 1px;
            line-height: $lineheight20;
            margin-bottom: 12px;
            
        }
        .actions {
            padding-left: 15px;
            a {
                @include submittransparent;
                font-size: $fontsize - 2px;
                padding: 7px 10px;
            }
            span {
                display: none;
            }
        }
        .media-embed .setting input[type=text], 
        .media-embed .setting textarea, 
        .media-embed fieldset {
            margin-bottom: 15px;
            max-width: inherit;
        }
    }
    .media-frame-toolbar {
        .media-toolbar {
            border-top: 1px solid $grayborder;
            bottom: -50px;
            .media-selection .count {
                font-size: $fontsize - 2px;
                line-height: 1;
                padding: 3px 0;
            }
        }
    }
    .media-frame {
        .media-frame-menu-heading {
            color: $titlecolor;
            font-size: $fontsize + 2px;
        }
        .media-frame-menu {
            .media-menu {
                button {
                    color: $primarycolor;
                    @include font14_600;
                    line-height: $lineheight20;
                    &.active,
                    &:hover {
                        background-color: $primarycolor;
                        color: $whitecolor;
                    }
                }
                .separator {
                    border-top: 1px solid $grayborder;
                    margin: 10px 0;
                }
            }
        }
    }
}

&.adminify-ui{
    .media-frame-content .media-toolbar .media-toolbar-secondary .delete-selected-button,
    .media-modal .media-frame-content .actions .delete-attachment {
        border-color: $reddark !important;
        background-color: transparent !important;
        color: $reddark !important;
        font-size: $fontsize - 2px;
        line-height: $lineheight16 + 2px !important;
        padding: 7px 10px !important;
        &:hover {
            background-color: $reddark !important;
            color: $whitecolor !important;
        }
    }
}

// Media edit options

#wpbody-content {
    #post-body-content {
        .wp_attachment_details.edit-form-section {
            p {
                color: $titlecolor;
            }
        }
        label {
            display: inline-block;
            margin-bottom: 4px;
        }
        textarea#attachment_caption {
            min-height: 10rem;
        }
        .attachment-alt-text-description {
            margin-top: 10px;
        }
        .wp_attachment_image {
            input[type="button"] {
                background-color: $greencolor;
                border: 1px solid $greencolor;
                color: $whitecolor;
                &:hover {
                    background-color: $whitecolor;
                    color: $greencolor;
                }
            }
        }
        .wp-editor-container {
            input.button {
                background-color: $whitecolor;
                line-height: $lineheight16;
            }
            textarea {
                border-top: 1px solid $whitecolor;
            }
        }
    }
}
#wpbody-content .image-editor,
.image-editor {
    .imgedit-submit {
        .imgedit-cancel-btn {
            background-color: $reddark;
            border: 1px solid $reddark;
            border-radius: $radius6p;
            color: $whitecolor;
            &:hover {
                background-color: $whitecolor;
                border-color: $reddark;
                color: $reddark;
            }
        }
        .imgedit-submit-btn {
            background-color: $fast;
            border: 1px solid $fast;
            &:hover {
                background-color: $whitecolor;
                border-color: $fast;
                color: $fast;
            }
        }
    }
    .imgedit-group {
        .imgedit-help-toggle {
            color: $primarycolor;
        }
        .imgedit-label {
            input {
                margin-top: -6px;
            }
        }
    }
}
#wpbody-content .image-editor .imgedit-group {
    padding: 15px;
}
.media-new-php {
    .media-item {
        .progress {
            height: 20px;
            .bar {
                background-color: $primarycolor;
            }
        }
    }
}

#adminify-pto-media {
    #sortable li {
        background-color: $whitecolor;
        border: 1px solid $lightgray;
        border-left-width: 4px;
        border-radius: $radius6p;
        color: $blackcolor;
        @include font14_400;
        line-height: $lineheight20;
        margin-bottom: 10px;
        padding: 10px 15px;
        &:nth-child(odd) {
            background-color: $whitegray;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.attachments-browser {
    .media-toolbar-secondary {
        height: auto;
        max-width: inherit;
    }
    .media-sidebar {
        .setting {
            padding-bottom: 12px;
            label {
                color: $black;
                font-size: $fontsize - 1px;
                text-align: left;
            }
        }
    }
}
.wp-filter .search-form {
    display: inline;
    height: auto;
    max-width: inherit;
}
.adminify--items-dragging {
    .media-frame,
    .media-frame-content,
    .attachments-browser {
        overflow: initial;
    }
}