// Themes.php file style
&.network-admin{
    &.themes-php {
        #wpbody-content {
            .wp-list-table {
                .column-primary {
                    .row-actions {
                        a {
                            color: $whitecolor;
                            line-height: 1.2rem;
                            padding: 0 5px;
                        }
                    }
                }

                &.widefat {
                    td {
                        max-width: 800px;
                    }
                }
            }
        }
    }
    .wp-clone-sites-options {
        margin: 0 auto;
    }

    // Dark Mode Styles
    &.adminify-dark-mode {
        #wpbody-content{
            .wp-clone-sites-options form {
                box-shadow: 0 0 24px #000;
            }
            .wp-clone-sites-options form,
            .line-single--wrapper {
                background-color: rgba(#fff, 0.05);
                color:$dark-mode-white;
                h1{
                    color:$dark-mode-white;
                }
            }

            button#option_modules_toggle {
                color:$dark-mode-white;
                background: $dark-mode-bg;
                box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
            }
        }
        .select2-dropdown{
            background-color: $dark-mode-bg;
            color:$dark-mode-white;
        }

        .select2-container--default .select2-selection--single,
        .select2-container--default .select2-results__option--selected{
            background-color: $dark-primary;
        }
        .select2-container--default .select2-selection--single,
        .select2-dropdown,
        .select2-container--default .select2-search--dropdown .select2-search__field{
            border: 1px solid $dark-mode-border-color-1;
        }
    }

}
