@import 'variables','mixins','fonts';

// Post category 

.taxonomy-category,
.taxonomy-post_tag,
.taxonomy-post_folder,
.taxonomy-media_folder,
.taxonomy-folder {
    .form-wrap {
        label {
            color: $titlecolor;
            font-size: $fontsize - 1px;
            line-height: $lineheight16;
            margin-bottom: 6px;
        }
        input, select, textarea {
            width: 100%;
        }
        select,
        input[type="submit"] {
            width: auto;
        }
        p {
            color: $blackcolor;
            font-size: $fontsize - 1px;
            line-height: $lineheight20;
            margin-top: 10px;
            &.submit {
                margin-bottom: 0;
                padding-bottom: 0;
            }
        }
    }
    #wpbody-content {
        .wrap {
            position: relative;
            .search-form {
                top: 0;
                right: 0;
                margin: 0;
                position: absolute;
            }
        }
        .col-wrap {
            h2 {
                margin-top: 0;
            }
        }
        #col-left {
            .col-wrap {
                padding-right: 1.25rem;
            }
            .form-wrap {
                background-color: $whitecolor;
                border-radius: $radius6p;
                box-shadow: $grayshadow;
                padding: 1.5625rem;
            }
        }
        #col-right {
            #posts-filter {
                margin-top: 0;
            }
            .tablenav {
                padding-top: 0;
                .actions {
                    select {
                        border: 1px solid $whitegray;
                        line-height: 1;
                        min-width: 10rem;
                        padding: 7px 16px;
                    }
                }
            }
        }
    }
    
}
&.edit-tags-php {
    #wpbody-content {
        .form-wrap {
            label {
                color: $blackcolor;
            }
            p {
                color: $blackmuted;
                font-size: $fontsize - 1px;
                margin-top: 10px;
            }
            input:not(.button),
            textarea {
                background-color: $whitecolor;
                border: 1px solid $whitegray;
            }
        }
    }
}
&.term-php {
    #wpbody-content {
        .form-table {
            label {
                color: $blackcolor;
            }
            p {
                color: $blackmuted;
                font-size: $fontsize - 1px;
                margin-top: 10px;
            }
            input:not(.button),
            textarea {
                background-color: $whitecolor;
                border: 1px solid $whitegray;
            }
        }
    }
}