@import 'variables', 'mixins';

#adminmenu,
#adminmenuback,
#adminmenuwrap {
  background-color: $menu-bg-color;
  top: 0;
  bottom: 0;
  width: 15.25rem;
}
#adminmenu{
  margin-top:66px;
}
#adminmenuback {
  box-shadow: 0 0 24px rgba($color: $black, $alpha: 0.05);
  position: absolute;
}
#adminmenumain {
  #adminmenuwrap {
    top: 0 !important;
    bottom: inherit;
    position: relative !important;
  }
}
#adminmenu {
  #collapse-menu {
    display: none;
  }
  .wp_adminify_admin-menu-top {
    .wp_adminify_user {
      .wp_adminify_user-avatar {
        img {
          height: 81px;
          width: 81px;
          margin: 0 auto 0.625rem;
        }
      }
      .wp_adminify_user-details {
        .wp_adminify_user-name {
          color: $whitecolor;
          font-size: $fontsize + 4px;
          font-weight: $weight700;
          line-height: $lineheight20;
          margin: 0;
          a {
            color: $whitecolor;
            font-size: $fontsize + 4px;
            line-height: $lineheight20;
            padding: 0;
          }
        }
        .wp_adminify_user-url {
          color: $whitecolor;
          @include font14_400;
          line-height: $lineheight16;
          a {
            color: $whitecolor;
            font-size: $fontsize;
            font-weight: $weight400;
            line-height: $lineheight20;
            padding: 0;
          }
        }
        + .wp_adminify_user-actions {
          margin-top: 1rem;
        }
        .logout {
          background-color: $slow;
          border-radius: $radius6p - 3px;
          color: $whitecolor;
          display: inline-block;
          font-size: $fontsize - 2px;
          line-height: $lineheight20;
          padding: 0 0.625rem;
        }
      }
      .wp_adminify_user-actions {
        a {
          color: $primarycolor;
          display: inline-block;
          font-size: $fontsize + 2px;
          padding: 0 5px;
          width: auto;
        }
      }
    }
  }
  ul,
  ul li,
  ol,
  ol li {
    &:hover,
    &:focus,
    &:focus-visible,
    &:focus-within {
      outline: 0;
    }
  }
  .wp_adminify_admin-menu {
    li {
      min-height: inherit;
      &.menu-top:hover,
      &.opensub > a.menu-top,
      > a.menu-top:focus {
        background-color: transparent;
        color: $primarycolor;
      }
      &.wp-has-current-submenu .wp-submenu,
      &.wp-has-current-submenu .wp-submenu.sub-open,
      &.wp-has-current-submenu.opensub .wp-submenu,
      a.wp-has-current-submenu:focus + .wp-submenu,
      &.wp-has-current-submenu:hover .wp-submenu {
        background-color: $menu-bg-color;
        color: $blackmuted;
      }
      a {
        font-size: $fontsize;
        transition: none;
        &:hover {
          background-color: transparent;
        }
      }
      &.wp-adminify-parent {
        a {
          position: relative;
          &:after {
            content: '\e605';
            border: 0;
            font-family: 'simple-line-icons';
            font-size: $fontsize - 6px;
            height: 10px;
            width: 10px;
            line-height: 10px;
            right: 20px;
            top: 50%;
            margin-top: -5px;
            position: absolute;
            text-align: right;
          }
        }
      }
      &.menu-top {
        padding: 5px 0;
        > a.menu-top {
          font-weight: $weight600;
          padding: 0 22px 0 1.125rem;
          &:hover {
            color: $primarycolor;
            .wp-adminify-icon-button:before {
              // background-color: $whitecolor;
              color: $primarycolor;
              // filter: invert(23%) sepia(90%) saturate(7447%) hue-rotate(228deg)
              //   brightness(102%) contrast(107%);
            }
          }
          .wp-adminify-icon-button {
            background-repeat: no-repeat;
            background-size: 18px;
            float: left;
            font-size: $fontsize + 4px;
            height: 18px;
            width: 18px;
            margin: 9px 12px 0 0;
            svg{
              width: 18px;
              height: 18px;
              position: absolute;
              path{
                fill: var(--adminify-admin-bar-icon);
              }
            }
            &:before {
              color: var(--adminify-admin-bar-icon);
              font-size: $fontsize + 4px;
              // filter: brightness(0) contrast(1);
              margin: 0;
              padding: 0;
            }
            &.fa,
            &.far,
            &.fas{
              &:before{
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
                font-size: 16px;
              }
            }
            &.far{
              &:before{
                font-family: 'Font Awesome 5 Free';
                font-weight: 400;
              }
            }
            &.fab{
              &:before{
                font-family: 'Font Awesome 5 Brands';
                font-weight: 400;
                font-size: 16px;
              }
            }
          }
          &.current {
            background-color: transparent;
            color: $primarycolor;
          }
          .wp-adminify-icon-image:not(.wp-menu-image) {
            // filter: brightness(var(--adminify-admin-bar-icon-filter));
          }
        }
        &.wp-adminify-active {
          background-color: $submenu-bg-color-dark !important;
          > a {
            .wp-adminify-icon-button {
              svg{
                path{
                  fill: $primarycolor;
                }
              }
            }
            .wp-adminify-icon-button:before {
              color: $primarycolor;
            }
            &:before {
              content: '';
              background-color: $primarycolor;
              border-top-right-radius: 2px;
              border-bottom-right-radius: 2px;
              height: 18px;
              width: 2px;
              left: 0;
              top: 50%;
              margin-top: -9px;
              position: absolute;
            }
            .wp-adminify-icon-image:not(.wp-menu-image) {
              filter: none;
            }
          }
          &.wp-adminify-parent > a:after {
            content: '\e604';
          }
          .wp-submenu {
            display: block;
            opacity: 1;
          }
        }
        .wp-submenu {
          background-color: transparent;
          box-shadow: none;
          display: none;
          top: 100%;
          left: 0;
          // margin-top: 0 !important;
          opacity: 0;
          padding: 0 0 7px 2.4rem;
          position: relative;
          width: 100%;

          transition: opacity 0.4s;
          li {
            padding: 1px 0;
            a {
              color: var(--adminify-menu-text-color);
              font-weight: $weight600;
              line-height: $lineheight20 + 10px;
              padding: 0 10px;
              &.current,
              &:hover,
              &.wp-adminify-active {
                background-color: $primarycolor;
                border-radius: $radius6p - 1px;
                color: $whitecolor;
              }
              &.wp-adminify-active {
                &:before {
                  display: none;
                }
              }
              &:after {
                display: none;
              }
              .awaiting-mod,
              .update-plugins {
                right: -5px;
              }
            }
          }
        }
        &:hover {
          > a.menu-top {
            .wp-adminify-icon-button{
              // filter: none;

              svg{
                path{
                  fill: $primarycolor;
                }
              }
              &:before {
                color: $primarycolor;
                // filter: invert(23%) sepia(90%) saturate(7447%) hue-rotate(228deg)
                //   brightness(102%) contrast(107%);
              }
            }
          }
          .wp-submenu {
            background-color: transparent;
          }
          .awaiting-mod,
          .update-plugins {
            background-color: $slow;
            color: $whitecolor;
          }
        }
      }
      &.wp-adminify-nav-divider {
        background-color: $whitegray;
        height: 1px;
        margin: 0;
        padding: 0;
      }
      .awaiting-mod,
      .update-plugins {
        background-color: $slow;
        font-size: $fontsize - 3px;
        float: right;
        height: 13px;
        line-height: $lineheight16 - 4px;
        margin: -6.5px 15px 0 0;
        min-width: inherit;
        padding: 1px 3px;
        position: absolute;
        top: 50%;
        right: 1.25rem;
      }
    }
    .wp-has-current-submenu .wp-submenu .wp-submenu-head,
    .wp-menu-arrow,
    .wp-menu-arrow div,
    li.current a.menu-top,
    li.wp-has-current-submenu a.wp-has-current-submenu {
      background-color: transparent;
    }
    .wp-submenu-head,
    a.menu-top {
      color: var(--adminify-menu-text-color);
      line-height: $lineheight20 + $lineheight16;
    }
  }
  li.opensub:after {
    display: none;
  }
}
&:not(.adminify-dark-mode) {
  #adminmenu {
    .wp_adminify_admin-menu-top {
      .wp_adminify_user-details {
        .wp_adminify_user-name,
        .wp_adminify_user-url {
          color: $blackcolor;
          a {
            color: $blackcolor;
          }
        }
      }
    }
  }
}
&.adminify-default-v-menu {
  #adminmenu {
    .wp_adminify_admin-menu {
      li.wp-not-current-submenu {
        .wp-submenu {
          background-color: $menu-bg-color;
          border-radius: $radius6p - 2px;
          display: block;
          top: -1000em;
          left: 100%;
          max-width: 160px;
          padding: 5px 0;
          position: absolute;
          width: 100%;
          transition: none;
          a {
            color: $menu-text-color;
            padding: 0 15px;
            &:hover {
              background-color: transparent;
              color: $primarycolor;
            }
          }
        }
        &.opensub {
          .wp-submenu {
            top: 0px;
            opacity: 1;
          }
        }
      }
      .wp-has-current-submenu {
        .wp-submenu {
          display: block;
          opacity: 1;
        }
      }
    }
  }
}
#adminmenu li.wp-has-submenu.wp-not-current-submenu:focus-within:after,
#adminmenu li.wp-has-submenu.wp-not-current-submenu:hover:after {
  display: none;
}
&.adminify-rounded-v-menu {
  #adminmenu {
    .wp_adminify_admin-menu {
      li {
        &.menu-top:hover,
        &.wp-adminify-active {
          > a.menu-top {
            background-color: $primarycolor;
            border-radius: $radius6p - 1px;
            color: $whitecolor;
            .wp-adminify-icon-button {
              // background-color: $whitecolor;
              border-radius: $radius6p - 4px;
              color: $primarycolor;
              // filter: brightness(1);
              svg{
                path{
                  fill: $whitecolor;
                }
              }
              &:before{
                color: $whitecolor;
              }
            }
            &.toplevel_page_wp-adminify-settings{
              .wp-adminify-icon-button{
                filter: brightness(200);
              }
            }
          }
          .wp-submenu {
            padding-top: 10px;
          }
        }
        &.wp-adminify-active {
          background-color: transparent;
          > a {
            color: $primarycolor;
            &:before {
              display: none;
            }
          }
        }
        .wp-submenu,
        .wp-submenu:hover {
          background-color: transparent;
        }
      }
    }
  }
}
&.adminify-toggle-v-menu {
  #adminmenu {
    .wp_adminify_admin-menu {
      li {
        &.wp-adminify-active {
          > .wp-submenu {
            display: block !important;
          }
        }
      }
    }
  }
}

// &.block-editor-page.auto-fold 
&.folded{
  #adminmenu,
  #adminmenuback,
  #adminmenuwrap {
    width: 4.0625rem;
  }
  #wpcontent,
  #wpfooter {
    margin-left: 4.0625rem;
  }
  #adminmenu {
    // background-color: $whitecolor;
    .wp_adminify_admin-menu-top {
      display: none;
    }
    .wp_adminify_admin-menu {
      padding-top: 5px;
      li {
        margin: 5px 0;
        &.menu-top {
          box-sizing: border-box;
          padding: 0 13px;
          width: 100%;
          > a {
            position: relative;
            // background-color: $whitecolor;
            border-radius: $radius6p;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0;
            height: 39px;
            width: 39px;
            padding: 0;
            &:after {
              display: none;
            }
            &.menu-top {
              .wp-adminify-icon-button {
                // background-color: $whitecolor;
                border-radius: $radius6p - 3px;
                display: inline-block;
                float: none;
                height: 20px;
                width: 20px;
                line-height: $lineheight20;
                margin: 0;
              }
              .wp-adminify-icon-image {
                filter: none;
              }
            }
          }
          &:hover {
            // background-color: $whitecolor;
            // &.wp-adminify-active,
            a.menu-top {
              // background-color: $primarycolor;
              .wp-adminify-icon-button {
                // background-color: $whitecolor !important;
                color: $primarycolor;
                filter: brightness(1);
              }
              .wp-adminify-icon-image {
                filter: brightness(1) !important;
              }
              &:before {
                content: '';
                background-color: $primarycolor;
                border-top-right-radius: 2px;
                border-bottom-right-radius: 2px;
                height: 18px;
                width: 2px;
                left: 0;
                top: 50%;
                margin-top: -9px;
                position: absolute;
              }
            }
          }
          .wp-adminify-icon-image {
            background-color: transparent !important;
          }
          .wp-submenu {
            background-color: $whitecolor;
            border-radius: $radius6p - 2px;
            display: block;
            top: -1000em;
            left: 100%;
            max-width: 160px;
            padding: 10px 0;
            position: absolute;
            width: 100%;
            transition: none;
            li {
              margin: 0;
              padding: 0;
            }
            a {
              color: $blackmuted;
              padding: 0 15px;
              &:hover {
                background-color: transparent;
                color: $primarycolor;
              }
            }
            .wp-adminify-active {
              a {
                background-color: transparent;
                color: $primarycolor;
              }
              &:hover {
                a {
                  color: $primarycolor;
                }
              }
            }
          }
          &:hover {
            .wp-submenu {
              background-color: $whitecolor;
              top: 0;
              opacity: 1;
            }
          }
        }
        &.wp-menu-open,
        &.wp-adminify-active {
          &:hover {
            > a.menu-top {
              // background-color: $primarycolor;
              // background-color: $primarycolor;
              .wp-adminify-icon-button {
                color: $primarycolor;
              }
              &:before {
                // display: none;
              }
            }
          }
          a.menu-top {
            .wp-adminify-icon-button {
              // background-color: $whitecolor !important;
            }
          }
        }

        &.wp-adminify-nav-divider,
        .awaiting-mod,
        .update-plugins {
          display: none;
        }
      }
    }
  }

  &.adminify-rounded-v-menu {
    #adminmenu {
      .wp_adminify_admin-menu {
        li.menu-top {
          &:before,
          &:after{
            display: none !important;
          }
          a{
            &.menu-top{
              border-top-left-radius: 3rem !important;
              border-bottom-left-radius: 3rem !important;
            }
          }
          &.wp-adminify-active,
          &:hover{
            a{
              &.toplevel_page_wp-adminify-settings{
                .wp-adminify-icon-image{
                  filter: brightness(200) !important;
                }
              }
              &.menu-top{
                .wp-adminify-icon-button {
                  background-color: transparent !important;
                  &:before{
                    color: $whitecolor !important;
                  }
                }
                &:before{
                  display: none !important;
                }
              }
            }
          }

        }
      }
    }
  }
}

&.color-preset-adminify-icon-white{
  #adminmenu {
    .wp_adminify_admin-menu {
      li {
        a {
          &.menu-top {
            &.toplevel_page_wp-adminify-settings {
              .wp-adminify-icon-button{
                filter: brightness(200);
              }
            }
          }
        }
      }
    }
  }
}