@import "variables", "mixins";


.wp-customizer {
     .wp-full-overlay-sidebar {
          #customize-save-button-wrapper {
               margin-top: 8px;
          }
          .customize-controls-close {
               color: $redlight;
               &:hover,
               &:focus {
                    border-top-color: $redlight;
                    color: $redlight;
               }
          }
          .customize-save-button-wrapper,
          .control-panel-themes {
               .button {
                    background-color: $primarycolor;
                    border: 1px solid $primarycolor;
                    box-shadow: none;
                    color: $whitecolor;
                    line-height: $lineheight20 + 8px;
                    &:hover {
                         background-color: $whitecolor;
                         color: $primarycolor;
                    }
               }
          }
          .customize-save-button-wrapper {
               .button {
                    height: auto;
               }
               button.dashicons {
                    font-family: dashicons;
               }
          }
          .customize-panel-back {
               border-left-color: $primarycolor;
               color: $primarycolor;
               &:focus,
               &:hover {
                    border-left-color: $primarycolor;
               }
          }
          #customize-controls .customize-info .customize-help-toggle {
               color: $primarycolor;
               &:focus,
               &:hover {
                    color: $primarycolor;
               }
          }
          #customize-outer-theme-controls .accordion-section-title,
          #customize-theme-controls .accordion-section-title {
               &:focus,
               &:hover {
                    border-left-color: $primarycolor;
                    color: $primarycolor;
                    &:after {
                         color: $primarycolor;
                    }
               }
          }
     }
}
