// Sidebar Users

#wpbody-content {
    #createuser,
    #your-profile {
        padding: 1rem 2rem;
        .wp-hide-pw {
            .dashicons {
                float: left;
                line-height: $lineheight20 + $lineheight16 - 2px;
                top: 0;
                height: auto;
                width: auto;
                margin-right: 5px;
            }
        }
        .wp-cancel-pw {
            background-color: $slow;
            border: 1px solid $slow;
            border-radius: $radius6p;
            color: #fff;
            border: 1px solid $slow;
            font-size: $fontsize;
            font-weight: $weight600;
            line-height: $lineheight20 + 14px;
            padding: 0 16px;
            &:hover {
                background-color: $whitecolor;
                color: $slow;
            }
        }
        #pass-strength-result.strong {
            border-radius: $radius6p;
        }
        .wp-pwd [type=password], 
        .wp-pwd [type=text] {
            min-height: 40px;
            margin-bottom: 10px;
        }
    }
    #copy_billing {
        @include submitfill;
    }
    #profile-page {
        #your-profile {
            h2 {
                color: $black;
                font-size: $fontsize + 4px;
                font-weight: $weight700;
            }
        }
        .form-table {
            line-height: $lineheight20;
            th {
                color: $titlecolor;
                @include font14_600;
            }
            label {
                color: $black;
                @include font14_400;
            }
            input[type="radio"] {
                background-color: $whitecolor;
            }
            .color-option.selected,
            .color-option:hover {
                background-color: transparent;
            }
            .description {
                color: $black;
                @include font12;
                line-height: $lineheight16;
                a {
                    font-size: $fontsize;
                }
            }
            .user-profile-picture {
                img.avatar {
                    border-radius: 50%;
                    height: 80px;
                    width: 80px;
                }
            }
            .destroy-sessions {
                button {
                    @include buttondisabled;
                }
            }
        }
    }
}

&.users-php {
    #wpbody-content {
        .wp-list-table.widefat {
            input[type="checkbox"] {
                margin: 0;
                position: inherit;
            }
            tbody {
                th {
                    padding: 15px 17px;
                }
            }
            td {
                color: $titlecolor;
                font-size: $fontsize;
            }
            .username {
                img {
                    height: 46px;
                    width: 46px;
                }
            }
            .row-actions {
                margin: 0;
                span {
                    color: $whitegray;
                    font-size: $fontsize - 1px;
                    margin-right: 0;
                    a {
                        color: $primarycolor;
                    }
                }
            }
        }
    }
}
