@import "bulma/bulma";

@import "variables",
        "mixins";

html,
body.wp-adminify {
    background-color: $graycolor;
    @include nunitosans;
    height: auto;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: geometricPrecision;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

#plugin-information {
    .adminify-top_bar {
        display: none;
    }

    #plugin-information-title.with-banner h2 {
        background-color: $primarylight3;
        border-radius: $radius6p;
        color: $titlecolor;
        font-size: $fontsize + 10px;
        text-shadow: none;
    }

    #plugin-information-footer {
        height: auto;
    }

    a.button.button-primary.right.disabled {
        background-color: $primarycolor !important;
        border: 1px solid $primarycolor !important;
        color: $whitecolor !important;
        margin-bottom: 0;

        &:hover {
            background-color: $whitecolor !important;
            color: $primarycolor !important;
        }
    }
}

.js.plugins-php.wp-adminify .search-box .wp-filter-search {
    width: 200px;
}

.wp-adminify {
    &.folded {
        .adminify-top_bar {
            nav.adminify-top-navbar {
                .navbar-brand {
                    padding: 0 10px;
                    width: 6rem;

                    img[class*="logo"] {
                        object-position: 1px 0px;
                        object-fit: cover;
                        height: 36px;
                        width: 40px;
                    }

                    .wp-adminify-site-name {
                        display: none;
                    }
                }
            }
        }
    }

    @import "wp-default-ui/common-styles",
            "wp-default-ui/content_body",
            "wp-default-ui/admin-bar",
            "wp-default-ui/sidebar-menu",
            "adminify_custom",
            "general-settings",
            "circle-menu",
            "wp-default-ui/adminify-reset-ui",
            "page-speed";
}

@import "theme-editor";
