@import "../variables", "../mixins";

// Horizontal Menu Styles

.wp-adminify.horizontal-menu {
    #adminmenumain {
        display: none;
    }
    #adminify-horizontal-menu-wrapper {
        position: relative;
        top: 68px;
    }
    #wpcontent,
    #wpbody-content,
    #wpfooter {
        margin-left: 0;
    }
    #wpcontent {
        margin-top: 0;
    }
    &.has-folder-options {
        #wpbody-content {
            padding-left: 19.25rem;
        }
        .wp-adminify--folder-widget .wp-adminify--folder-app {
            padding: 1.25rem;
        }
        .wp-adminify--folder-widget {
            top: 12rem;
            left: 0;
            width: 320px;
        }
    }
    .wp-adminify-horizontal-menu {
        background-color: $menu-bg-color;
        box-shadow: $grayshadow;
        overflow-x: clip;
        z-index: 999;
        width: 100%;
        .navbar {
            height: auto;
            max-height: inherit;
            min-height: inherit;
        }
        ul.horizontal-menu {
            display: table;
            margin: 0;
            padding: 0 1rem;
            width: 100%;
            li {
                display: inline-table;
                margin: 0;
                padding: 0;
                a {
                    color: $menu-text-color;
                    display: flex;
                    align-items: center;
                    @include font14_600;
                    line-height: $lineheight20 * 3;
                    padding: 0 15px;
                    &:hover {
                        background-color: transparent;
                        color: $primarycolor;
                    }
                    &.wp-has-current-submenu {
                        color: $primarycolor;
                    }
                    i {
                        float: left;
                        font-size: $fontsize + 2px;
                        height: auto;
                        width: auto;
                        line-height: 1;
                        margin-right: 4px;
                        transition: none;
                        &:before {
                            display: inline-block;
                            margin: 0;
                        }
                    }
                }
                &.has-dropdown {
                    a {
                        padding-right: 30px;
                        &.wp-has-submenu:after {
                            content: "\e604";
                            border: 0;
                            font-family: "simple-line-icons";
                            font-size: $fontsize - 5px;
                            height: 10px;
                            width: 10px;
                            line-height: 10px;
                            top: 50%;
                            right: 0;
                            margin-top: -5px;
                            position: absolute;
                            transform: none;
                        }
                        img {
                            height: 15px;
                            width: 15px;
                            margin-right: 5px;
                        }
                    }
                    &:hover {
                        a.menu-top {
                            background-color: rgba($menu-bg-color, .5);
                            color: $menu-text-color;
                        }
                    }
                    .dropdown-menu {
                        li {
                            a {
                                [class*="count-"] {
                                    background-color: inherit;
                                    [class*="-count"] {
                                        border-radius: 3rem;
                                        &:before {
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                ul {
                    border: 0;
                    box-shadow: $grayshadow;
                    min-width: 10rem;
                    li {
                        display: block;
                        margin: 0;
                        padding: 0;
                        a {
                            box-sizing: border-box;
                            display: inline-block;
                            line-height: $lineheight20 + $lineheight16;
                            padding: 0 15px;
                            width: 100%;
                            &:after {
                                display: none;
                            }
                            &.current,
                            &:hover {
                                color: $primarycolor;
                            }
                            [class*="count-"] {
                                float: right;
                                line-height: 1;
                                margin-top: 10px;
                                top: 0;
                                [class*="-count"] {
                                    background-color: $slow;
                                    border-radius: 50%;
                                    color: $whitecolor;
                                    display: inline-block;
                                    font-size: $fontsize - 4px;
                                    line-height: $lineheight20 - 4px;
                                    padding: 0 5px;
                                }
                            }
                        }
                    }
                }
            }
            #adminifysub_wp-adminify-settings-pricing a {
                color: #0cce6b;
                font-weight: bold;
            }
        }
    }
    &.adminify-dark-mode {
        .wp-adminify-horizontal-menu {
            background-color: $dark-mode-black-1;
            ul.horizontal-menu {
                li {
                    &.has-dropdown:hover,
                    &:hover {
                        a {
                            background-color: $dark-mode-bg;
                        }
                    }
                    a {
                        color: $dark-mode-white;
                        &:hover {
                            background-color: transparent;
                        }
                        &.menu-top {
                            border-top-left-radius: $radius6p + 9px;
                            border-top-right-radius: $radius6p + 9px;
                        }
                        &.menu-top:hover,
                        &.wp-has-current-submenu {
                            background-color: $dark-mode-bg;
                            color: $dark-primary;
                        }
                    }
                    ul {
                        background-color: $dark-mode-bg;
                        li {
                            a {
                                color: $dark-mode-white;
                                &:hover {
                                    background-color: $dark-mode-black-1;
                                    color: $dark-primary;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #wpbody-content {
        .adminify-options {
            margin: 25px 20px 0;
        }
    }
}
